<template>
    <transition name="rmodal">
        <div v-if="show" class="rmodal-shadow" @click.self="closeModal">
            <div class="pmodal">
                <div class="rmodal-close" @click="closeModal">
                    <img  src="../../assets/closeIcon.svg" />
                </div>
                <div class="rmodal-logo" >
                    <img src="../../assets/logo.svg" class="rm-logoImg"/>
                </div>
                <div class="pm-content">
                    <div class="pm-title">Оплата занятия</div>
                    <div class="pm-clocks-date-block">
                        <div class="pm-clock-date">
                            <div class="pm-date">{{ info.day }}</div>
                            <div class="pm-clock">{{ info.time }}</div>
                        </div>
                        <div class="pm-clock-img">
                            <img src="../../assets/Clock.svg">
                        </div>
                    </div>
                    <div class="pm-tutor-block">
                        <div class="pm-tutor-title">Репетитор</div>
                        <div class="m-tutor-name">{{ info.tutor.second_name }} {{ info.tutor.first_name }}</div>
                    </div>
                    <div class="pm-sum-block">
                        <div class="pm-sum-title">Итого</div>
                        <div class="pm-sum">{{ info.price }} р</div>
                    </div>
                </div>
                <div class="action-container">
                    <div class="button">
                        <button class="submit-button" @click="closeModal">
                            Оплатить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: ['info'],
        data: function () {
            return {
                show: false,
            }
        },
        name: "payModal",
        methods: {
            async closeModal () {
                await window.axios.get(`/api/requests/${this.info.id}/submit`);
                this.show = false;
            },

        }
    }
</script>

<style lang="scss">
    .pmodal {
        position: absolute;
        width: 372px;
        height: 600px;
        left: 50%;
        top: 40%;

        background: #FFFFFF;
        border-radius: 16px;
        min-width: 300px;
        max-width: 372px;
        max-height: 526px;


        transform: translate(-50%, -50%);
    }
    .pm-content {
        display: flex;
        flex-direction: column;

        .pm-title {
            margin-top: 24px;
            display: flex;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            justify-content: center;
            color: #333333;
        }

        .pm-clocks-date-block {
            margin-top: 32px;
            margin-left: 50px;
            display: flex;
            flex-direction: row;

            .pm-clock-date {
                font-style: normal;
                display: flex;
                flex-direction: column;

                color: #333333;

                .pm-date {
                    font-family: Roboto;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 18px;
                    margin-bottom: 8px;
                }

                .pm-clock {
                    font-family: Roboto;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 18px;
                }
            }

            .pm-clock-img {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 48px;

            }
        }

        .pm-tutor-block {
            margin-top: 24px;
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            font-style: normal;
            font-size: 18px;
            line-height: 18px;
            font-family: Roboto;
            color: #333333;

            .pm-tutor-title {
                font-family: Roboto;
                font-weight: 600;
                margin-bottom: 8px;
            }

            .pm-tutor-name {
                font-family: Roboto;
                font-size: 18px;
                font-weight: normal;
            }
        }

        .pm-sum-block {
            margin-top: 40px;
            margin-left: 50px;
            display: flex;
            flex-direction: row;

            .pm-sum-title {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
                color: #333333;
                margin-right: 100px;

            }

            .pm-sum {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
                color: #333333;
            }
        }


    }

</style>
