@import "../mixins/fonts";
.account {
    * {
        padding:0;
        margin:0;
        border: 0;
        outline: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }



    position: relative;
    .container {
        max-width: 1464px;
        margin: auto;
    }
    .tabsList {
        display: flex;
        list-style-type: none;
        margin-top: 81px;
        margin-bottom: 80px;
        padding-left: 0;
        @include Montserrat-32-32-grey();

        a {
            text-decoration: none;
        }
        li {
            margin-right: 54px;
        }
        .current-page {
            color: #FFC100;
        }
        .not-current-page {
            color: #828282;
        }
    }
    .cols {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .custom-col {
        width: 463px;
        max-width: 100%;
    }
    .general-information {
        margin-top: 80px;
        margin-bottom: 100px;

    }
    .btn-container {
        margin-bottom: 48px;
    }
    .btn-container-flex {
        display: flex;
        margin-top: 90px;
        .btn-one {
            margin-right: 32px;
        }
    }
    .changing-page-styles {
        .step-title {
            @include Montserrat-32-32-grey();
            color: #FFC100;
            margin-top: 15px;
            margin-left: 13px;
        }
        .my-title {
            @include Montserrat-32-32-grey();
            font-size: 34px;
            color: #333333;
            margin-bottom: 60px;
        }
        .col-title {
            display: flex;
        }
        .input-short-change, .subject-description, .input-long-change {
            border: 1px solid #BCBCBC;
            margin-top: 16px;
            margin-bottom: 40px;
            padding-left: 5px;
            display:block;
        }
        .subject-description {
            width: 656px;
            resize: none;
            height: 153px;
        }
        .input-short-change, .input-long-change {

        }
        .label-change {
            @include Roboto-16-22-black();
        }
        .selects {
            display: flex;
            margin-bottom: 40px;
            select {
                margin-top: 17px;
                display: block;
                min-height: 54px;
                max-width: 260px;
                padding: 20px 85px 20px 45px;
                border: 3px solid #DDDDDD ;
                border-radius: 60px;
                font-family: Montserrat;
                font-weight: 400;
                font-size: 18px;
                line-height: 14px;
                color: #000000;
                margin-right: 80px;
                text-align: center;
                text-align-last: center;

                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                appearance:none;
                overflow: hidden;
                overflow: -moz-hidden-unscrollable;
                background: url('../assets/DownArrow.svg') no-repeat;
                background-position-x: 80%;
                background-position-y: 50%;
            }
        }
        .input-short-change {
            width: 316px;
            height: 48px;
        }
        .input-long-change {
            width: 553px;
            height: 48px;
        }
        .number-container {
            margin-top: 50px;
        }

    }
    .change-profile-info {
        margin: 80px 0 100px 0;
        .custom-col-change-profile {
            .general-info {
                margin-top: 67px;
            }
            .change-contact-info {
                padding-top: 28px;
            }

            .interest-list-container {
                margin-top: 50px;
            }
        }
    }
    .tutor-information {
        margin-top: 80px;
        margin-bottom: 100px;
    }
    .change-tutor-information {
        margin-bottom: 100px;
        .space-60 {
            margin-bottom: 50px;
        }
        .space-68 {
            margin-bottom: 68px;
        }
        .space-42 {
            margin-bottom: 42px;
        }
        .space-28 {
            margin-bottom: 28px;
        }

    }
    .register-tutor {
        margin-bottom: 100px;
        .p-title {
            @include Montserrat-24-30-white();
            color: #333333;
            text-align: center;
            margin-bottom: 60px;
        }
        .steps {
            margin-left: 33%;
            margin-bottom: 60px;
        }
        .step-title {
            text-align: center;
            margin-bottom: 60px;
        }
        .input {
            margin-left: 28%;
        }
        .wrapper {
            margin-top: 40px;
            display: grid;
            max-width: 990px;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 81px;
            margin-left: 15%;
            label {
                @include Roboto-18-24-black();
                font-weight: 400;
                margin-left: 16px;
            }
            .my-checkbox {
                margin-bottom: 16px;
            }
        }
        .btn-container-flex {
            justify-content: flex-end;
        }
        .step-subtitle {
            @include Montserrat-24-30-white();
            color: #FFC100;
            font-weight: 500;
            margin-bottom: 32px;
            margin-top: 50px;
        }
        .selects {
            justify-content: space-between;
        }
        .register-tutor-step-two {
            .cols {
                justify-content: start;
            }
        }
        .number-container-register {
            margin-right: 70px;
        }
    }
    .schedule {
        margin-bottom: 100px;
        .hide-all-day .k-scheduler-table tr:nth-of-type(0), .k-scheduler-times-all-day, .k-scheduler-table.k-scheduler-header-all-day {
            display: none;
        }
        .k-scheduler-fullday {
            display:none
        }
        /*.k-toolbar {
            display: none;
        } - REMOVE TOOLBAR ABOVE AND BOTTOM*/
        .k-nonwork-hour {
            height: 40px;
            background-color: white;
        }
        td {
            height: 40px;
            background-color: white;
        }
        .k-slot-cell { //ВЫСОТА ЯЧЕЕК
            height: 40px;
        }
        .k-scheduler-table td, .k-scheduler-table th {
            height: 40px;
        }
        .k-lg-date-format { //УБРАТЬ ВЫБОР ДАТЫ НА ВЕРХНЕЙ ПАНЕЛЕ
            display: none;
        }
        .k-event {
            width: 193px !important;
            background: linear-gradient(90deg, #70E1F5 0%, #FFD194 100%);
        }
        .k-widget {
            height: 1260px !important;
        }
        .k-scheduler {
            height: 1260px !important;
        }
        .k-floatwrap {
            height: 1260px !important;
        }
        .k-scheduler-weekview { //УБИРАЕТ СКРОЛБАР
            height: 1260px !important;
        }
        .k-scheduler-content { //УБИРАЕТ СКРОЛБАР НО НЕ ОТОБРАЖАЮТСЯ НИЖНИЕ ЧАСЫ
            height: 1200px !important;
            overflow: hidden;
            .k-current-time {
                background: #FFC100 !important;
            }

        }
        .k-scheduler-footer  {
            display: none;
        }
        .k-toolbar {
            padding: 0;
            background-color: white !important;
        }
        .k-nav-day {
            @include Roboto-24-30-black();
            color: #828282;
        }
        th {
            span {
                @include Roboto-24-30-black();
                color: #828282;
                font-size: 20px;
            }
        }
        .k-scheduler-refresh {
            width: 80px;
            background-color: rgba(255, 193, 0, 0.4);
        }
        .k-nav-next {
            width: 80px;
            background-color: rgba(255, 193, 0, 0.4);
        }
        .k-nav-prev {
            width: 80px;
            background-color: rgba(255, 193, 0, 0.4);
        }
        .k-nav-today {
            width: 80px;
            background-color: rgba(255, 193, 0, 0.4);
        }
    }

}
.k-display-inline-flex{
    border-radius: 10px !important;
}
.k-window-titlebar {
    border-radius: 10px 10px 0 0 !important;
}
.k-current-time-arrow-right {
    border-left-color: #FFC100 !important;
}
.label-edit {
    @include Montserrat-24-30-white();
    color: #4F4F4F;
    text-align: left!important;
}
.k-window-content {
    padding: 40px 50px 40px 50px !important;
}
.k-textbox {
    border: 1px solid #BCBCBC !important;
    margin-top: 5px !important;
    height: 30px !important;
    padding: 1px 5px 1px 5px !important;
    font-family: Roboto, serif !important;
    font-size: 24px !important;
}
.k-window-title {
    color: white;
}
.k-window-titlebar {
    background-color: white !important;
}
.k-input {
    border: 1px solid white !important;
    height: 30px !important;
    font-family: Roboto, serif !important;
    font-size: 24px !important;
    color: #828282 !important;
    background-color: white !important;
}
.k-state-default {
    margin-top: 5px !important;
    border: 1px solid white !important;
}
.k-link-date {

}
.k-invalid {
    background-color: white!important;
    border-bottom: 1px solid #FFC100;
}
.k-select {
    background-color: white !important;
}
.k-i-arrow-60-down {
    width: 40px;
    height: 40px;
}

.select-subject::-ms-expand {
    display: none;
}

.select-subject,  .select-subject::before{
    border-left: 1px solid white!important;
    border-right: 1px solid white!important;
    border-top: 1px solid white!important;
    border-bottom: 1px solid #FFC100!important;
}
.k-edit-label {
    text-align: left!important;
}
.k-textbox {
    width: 80px!important;
    font-family: Roboto, serif !important;
    font-size: 24px !important;
    color: #828282 !important;
}
.schedule-title {
    font-family: Roboto, sans-serif !important;
    font-size: 18px;
    color: #828282;
    text-align: center;
    padding-top: 5px;
}
.schedule-time {
    font-family: Roboto, sans-serif !important;
    font-size: 18px;
    color: #828282;
    text-align: center;
}
.k-dropdown, .k-dropdowntree {
    font-family: Roboto, serif !important;
    font-size: 22px !important;
    color: yellow !important;
}

.k-state-selected { //ЦВЕТ ЗА ОПШЕНАМИ
    background-color: #FFC100!important;
}
.k-state-border-up:hover {

}
.k-event-actions {
    display: none;
}
.k-scheduler-delete {
    background-color: white !important;
    border: 1px solid white !important;
    font-family: Roboto, sans-serif !important;
    font-size: 20px !important;
    color: #FFC100 !important;
    border-radius: 32px !important;
    width: 100px !important;
    background-image: none!important;
}
.k-scheduler-update {
    background-color: #FFCC33 !important;
    border: 1px solid #FFC100 !important;
    font-family: Roboto, sans-serif !important;
    font-size: 20px !important;
    color: #000000 !important;
    border-radius: 32px !important;
    width: 230px !important;

}
.k-scheduler-cancel {
    background-color: white !important;
    border: 1px solid #FFC100 !important;
    font-family: Roboto, sans-serif !important;
    font-size: 20px !important;
    color: #FFC100 !important;
    border-radius: 32px !important;
    width: 230px !important;
}
.k-popup-message {
    font-family: Roboto, serif !important;
    font-size: 24px !important;
    color: #828282;
} input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}





