@use "../mixins/fonts";
.home {
    * {
        padding:0;
        margin:0;
        border: 0;
        outline: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .container {
        max-width: 1464px;
        margin: auto;
    }
    h2 {
        font-family: Montserrat;
        font-size: 44px;
        color: #3F3D56;
        line-height: 60px;
        font-weight: 700;
    }

    h4 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 52px;
        color: #3F3D56;
    }

    .Montserrat-16 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
    }

    /* Header */
    header {
        margin-top: 35px;
    }


    /* section lastChance */

    .container-cards {
        max-width: 1464px;
        margin: 40px auto auto auto;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .find {
        form {
            width: 1464px;
            margin-top: 60px;
            margin-bottom: 60px;


            .checkbox {
                margin-top: 70px;
                label{
                    margin-right: 47px;
                    font-family: Montserrat;
                    font-size: 24px;
                }

            }
            .selects {
                display: flex;
                justify-content: left;
                margin-top: 78px;
                select::-ms-expand {
                    display: none;
                }

                select {
                    position: relative;
                    display: block;
                    height: 54px;
                    width: 260px;
                    border: 3px solid #DDDDDD ;
                    border-radius: 60px;
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 14px;
                    color: #000000;
                    margin-right: 80px;
                    text-align: center;
                    text-align-last: center;

                    -moz-appearance:none; /* Firefox */
                    -webkit-appearance:none; /* Safari and Chrome */
                    appearance:none;
                    overflow: hidden;
                    overflow: -moz-hidden-unscrollable;
                    background: url('../assets/DownArrow.svg') no-repeat;
                    background-position-x: 90%;
                    background-position-y: 54%;
                }
                option {
                    font-size: 32px;
                    border-radius: 32px;
                }
            }
        }
    }


    /*Events*/
    .event {
        .container-card {
            position: relative;
            text-align: center;
            max-width: 348px;
            max-height: 410px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 4px 10px #CBC09F;
        }

    }
    .tutors {
        margin-top: 60px;
    }
    .organizations {
        margin-top: 60px;
        margin-bottom: 100px;
    }

}
