@import "about";
@import "home";
@import "account";
::-webkit-scrollbar {
    width: auto;
}

/* Track */
::-webkit-scrollbar-track {
    background: white !important;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E0E0E0 !important;
    border-radius: 32px;
    border: 5px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E0E0E0 !important;
}
