@mixin Montserrat-16-24-white () {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 400;
}

@mixin Montserrat-20-18-white () {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    font-weight: 500;
}

@mixin Montserrat-40-48-white () {
    font-family: Montserrat, serif;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

@mixin Montserrat-12-18-white () {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

@mixin Montserrat-14-18-white () {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

@mixin Montserrat-24-30-white () {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

@mixin Montserrat-14-20-white () {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

@mixin Montserrat-12-14() {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}

@mixin Montserrat-12-18-black() {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

@mixin Roboto-18-17 () {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #000000;
}

@mixin Roboto-12-14-grey () {
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #3F3D56;
}

@mixin Roboto-18-24-black () {
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
}

@mixin Roboto-16-22-black() {
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-weight: 700;
}

@mixin Roboto-12-18-black() {
    font-family: Roboto;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}

@mixin Roboto-12-14-white() {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    font-weight: 700;
}

@mixin Montserrat-32-32-grey() {
    font-family: Montserrat;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    color: #828282;
}

@mixin Montserrat-28-34-black() {
    font-family: Montserrat;
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: #000000;
}

@mixin Roboto-24-30-black() {
    font-family: Roboto;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

@mixin Montserrat-18-20-black() {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
}

@mixin Montserrat-28-60-black() {
    font-family: Montserrat;
    font-size: 28px;
    line-height: 60px;
    font-weight: 700;
    color: #000000;
}

