<template>
    <div class="interests">
        <p class="my-interests">{{ text }}</p>
        <div
            class="interest-checkbox"
            v-for="(item, i) in list"
            :key="i"
        >
            <img :src="arrow" alt="">
            <label :for="'chosen-interests' + item.id">{{item.name}}</label>
        </div>
        <button
            class="show-more"
            @click="$emit('modalClick')"
        >Показать еще</button>
    </div>
</template>

<script>
export default {
    props:['list', 'text'],
    data() {
        return {
            arrow: `${process.env.VUE_APP_APP_URL}/images/checkMark.svg`,
        }
    },
}
</script>

<style scoped>

</style>
