<template>
    <div class="contact-info">
        <p class="ci-title">Контактная информация</p>
        <p class="email">{{email}}</p>
        <p class="number">{{number}}</p>
    </div>
</template>

<script>
export default {
    props:['email', 'number']

}
</script>

<style scoped>

</style>
