<template>
    <div class="custom-info">
        <div class="container-profile">
            <img class="profile-photo" :src="src" alt="">
            <button class="middle"><input class="custom-file-input" type="file"
                                          accept=".jpg" @change="saveImg">Загрузить</button>
        </div>
        <p class="custom-name">{{ name }}</p>
        <div class="rating"  v-if="rate">
            <p class="rate">{{rate}}</p>
            <img :src="url">
        </div>

    </div>
</template>

<script>
export default {
    props:['src', 'name', 'rate'],
    data() {
        return {
            url: `${process.env.VUE_APP_APP_URL}/images/star.svg`,
        }
    },
    methods : {
        async saveImg(event) {
            let formData = new FormData();
            formData.append("file", event.target.files[0]);
            const response = await window.axios.post(`/api/upload`, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            });
            this.$emit('fresh', response.data.file_path);
        }
    }
}
</script>

<style scoped>

</style>
