<template>
    <div class="study-info">
        <p class="specialization">Специальность</p>
        <p class="course">{{ specialization }}</p>
        <p class="grade">{{ grade }}</p>
    </div>
</template>

<script>
export default {
    props: ['specialization', 'grade'],

}
</script>

<style scoped>

</style>
