<template>
    <div class="account">
        <app-navbar/>
        <div class="container">
            <ul class="tabsList">
                <li>
                    <p @click="currentPage = 'info'">
                        <router-link
                            to="#personal"
                            :class="(currentPage === 'info' || currentPage === 'changeInfo') ? 'current-page' : 'not-current-page'"
                        >Общая информация</router-link>
                    </p>
                </li>
                <li >
                    <p @click="currentPage = 'schedule'">
                        <router-link
                            to="#schedule"
                            :class="currentPage === 'schedule' ? 'current-page' : 'not-current-page'"
                        >Расписание</router-link>
                    </p>

                </li>
                <li>
                    <p  @click="currentPage = userData.is_tutor ? 'tutor' : 'registerTutorStepOne'">
                        <router-link
                            :to="userData.is_tutor ? '#tutor' : '#registerTutor#stepOne'"
                            :class="currentPage === 'tutor' || currentPage === 'changeTutorInfo'  || currentPage ===
                            'registerTutorStepOne' || currentPage === 'registerTutorStepTwo'||
                            currentPage === 'registerTutorStepThree'
                            ? 'current-page' : 'not-current-page'"
                        >Репетиторство</router-link>
                    </p>
                </li>
                <li>
                    <p @click="currentPage = 'organization'">
                        <router-link
                            to="#organization"
                            :class="currentPage === 'organization' ? 'current-page' : 'not-current-page'"
                        >Организация</router-link>
                    </p>

                </li>
            </ul>
            <section class="general-information" v-if="currentPage === 'info'">
                <div class="cols">
                    <div class="custom-col">
                        <photo-card
                            :src="userData.file_path ? userData.file_path : pictureStatic"
                            :name="`${userData.second_name} ${userData.first_name}`"
                            @fresh="(e) => userData.file_path = e"
                        />
                        <div class="btn-container" v-if="!userData.is_tutor">
                            <router-link to="#registerTutor#stepOne">
                                <app-btn
                                    myClass="btn-yellow"
                                    text="Стать репетитором"
                                    @click="currentPage = 'registerTutorStepOne'"
                                />
                            </router-link>
                        </div>
                        <div class="btn-container">
                            <app-btn
                                myClass="btn-yellow"
                                text="Зарегистрировать организацию"
                            />
                        </div>
                        <router-link to="#changeInfo">
                            <app-btn
                                myClass="btn-blank"
                                text="Редактировать профиль"
                                @click="currentPage = 'changeInfo'"
                            />
                        </router-link>
                        <app-btn
                            myClass="btn-blank mt-8"
                            text="Выйти"
                            @click="logout"
                        />
                    </div>
                    <div class="custom-col">
                        <study-card
                            :specialization="userData.specialty"
                            :grade="userData.degree"
                        />
                        <contact-info-card
                            :email="userData.email"
                            :number="userData.phone_number"
                        />
                    </div>
                    <div class="custom-col">
                        <app-skills-list
                            v-if="userData && userData.interests"
                            @modalClick="showModalInterests"
                            :list="userData.interests.slice(0, 5)"
                            text="Мои интересы"
                        />
                    </div>
                </div>
            </section>

            <section class="change-profile-info" v-show="currentPage === 'changeInfo'">
                <div class="changing-page-styles">
                    <p class="my-title">Редактирование профиля</p>
                    <div class="cols">
                        <div class="custom-col-change-profile">
                            <div class="col-title">
                                <img src="../../../public/images/stepOne.svg" alt="">
                                <p class="step-title">Заполни сведения о себе</p>
                            </div>
                                <div class="general-info">
                                    <label class="label-change">
                                        Имя
                                        <input class="input-long-change" type="text" v-model="userData.first_name">
                                    </label>
                                    <label class="label-change">
                                        Фамилия
                                        <input class="input-long-change" type="text"  v-model="userData.second_name">
                                    </label>
                                    <div class="selects">
                                        <label class="label-change"> Степень
                                            <select  v-model="userData.degree">
                                                <option value="Бакалавриат" selected>Бакалавриат</option>
                                                <option value="Специалитет" selected>Специалитет</option>
                                                <option value="Магистратура" selected>Магистратура</option>
                                            </select>
                                        </label>
                                        <label class="label-change"> Курс
                                            <select  v-model="userData.course">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </label>
                                    </div>
                                    <label class="label-change">
                                        Специальность
                                        <input class="input-long-change" type="text"  v-model="userData.specialty">
                                    </label>
                                </div>
                                <div class="change-contact-info">
                                    <div class="col-title">
                                        <img src="../../../public/images/stepThree.svg" alt="">
                                        <p class="step-title">Введите контактные данные</p>
                                    </div>
                                    <div class="number-container">
                                        <label class="label-change">
                                            Телефон
                                            <input class="input-short-change" type="text"  v-model="userData.phone_number">
                                        </label>
                                    </div>
                                    <label class="label-change">
                                        E-mail
                                        <input class="input-short-change" type="text"  v-model="userData.email">
                                    </label>
                                </div>

                        </div>
                        <div class="custom-col-change-profile">
                            <div class="col-title">
                                <img src="../../../public/images/stepTwo.svg" alt="">
                                <p class="step-title">Выбери то, что тебе интересно</p>
                            </div>
                            <div class="interest-list-container">
                                <app-skills-list
                                    v-if="userData && userData.interests"
                                    @modalClick="showModalInterestsToChange"
                                    :list="userData.interests.slice(0, 5)"
                                    text="Мои интересы"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="btn-container-flex">
                        <div class="btn-one">
                            <router-link to="#personal">
                                <app-btn
                                    myClass="btn-blank"
                                    text="Отменить изменения"
                                    @click="cancelProfileChanges"
                                />
                            </router-link>
                        </div>
                        <router-link to="#personal">
                            <app-btn
                                myClass="btn-yellow"
                                text="Сохранить изменения"
                                @click="saveProfileChanges"
                            />
                        </router-link>
                    </div>
                </div>
            </section>


            <section class="tutor-information" v-show="currentPage === 'tutor' && userData.is_tutor">
                <div class="cols">
                    <div class="custom-col">
                        <photo-card
                            :src="userData.file_path ? userData.file_path : pictureStatic"
                            :name="`${userData.second_name} ${userData.first_name}`"
                            rate="4.4"
                        />
                        <div class="btn-container">
                            <router-link to="#schedule">
                                <app-btn
                                    myClass="btn-yellow"
                                    text="Создать занятие"
                                    @click="currentPage = 'schedule'"
                                />
                            </router-link>
                        </div>
                        <router-link to="#changeTutorProfile">
                            <app-btn
                                myClass="btn-blank"
                                text="Редактировать профиль"
                                @click="currentPage = 'changeTutorInfo'"
                            />
                        </router-link>
                    </div>
                    <div class="custom-col">
                        <app-skills-list
                            v-if="userData && userData.subjects"
                            @modalClick="showModalTutorSubjects"
                            :list="userData.subjects.slice(0, 5)"
                            text="Предметы"
                        />
                    </div>
                    <div class="custom-col">
                        <study-card
                            :specialization="userData.specialty"
                            :grade="userData.degree"
                        />
                        <contact-info-card
                            :email="userData.email"
                            :number="userData.phone_number"
                        />
                    </div>
                </div>

            </section>


            <section class="change-tutor-information" v-show="currentPage === 'changeTutorInfo'">
                <div class="changing-page-styles">
                    <p class="my-title">Редактирование профиля репетитора</p>
                    <div class="col-title">
                        <img src="../../../public/images/stepOne.svg" alt="">
                        <p class="step-title">Выбери предметы, которые будешь преподавать</p>
                    </div>
                    <div class="space-60"></div>
                    <app-skills-list
                        v-if="userData && userData.subjects"
                        @modalClick="showModalTutorSubjectsToChange"
                        :list="userData.subjects.slice(0, 5)"
                        text="Предметы"
                    />
                    <div class="space-68"></div>
                    <div class="cols">
                        <div class="custom-col-change-profile">
                            <div class="col-title">
                                <img src="../../../public/images/stepTwo.svg" alt="">
                                <p class="step-title">Заполни сведения о себе</p>
                            </div>
                            <div class="space-42"></div>
                            <div class="selects">
                                <label class="label-change"> Степень
                                    <select  v-model="userData.degree">
                                        <option value="Бакалавриат" selected>Бакалавриат</option>
                                        <option value="Специалитет" selected>Специалитет</option>
                                        <option value="Магистратура" selected>Магистратура</option>
                                    </select>
                                </label>
                                <label class="label-change"> Курс
                                    <select  v-model="userData.course">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </label>
                            </div>
                            <label class="label-change">
                                Специальность
                                <input class="input-long-change" type="text"  v-model="userData.specialty">
                            </label>
                        </div>
                        <div class="custom-col-change-profile">
                            <div class="col-title">
                                <img src="../../../public/images/stepThree.svg" alt="">
                                <p class="step-title">Введите контактные данные</p>
                            </div>
                            <div class="space-42"></div>
                            <label class="label-change">
                                Телефон
                                <input class="input-short-change" type="text"  v-model="userData.phone_number">
                            </label>
                            <label class="label-change">
                                E-mail
                                <input class="input-short-change" type="text"  v-model="userData.email">
                            </label>
                        </div>
                    </div>
                    <div class="space-28"></div>
                    <div class="col-title">
                        <img src="../../../public/images/stepFour.svg" alt="">
                        <p class="step-title">Подробно опиши свои навыки</p>
                    </div>
                    <div class="space-42"></div>
                    <div class="cols">
                        <div
                            v-for="item in chosenSub"
                            :key="item.id"
                        >
                            <label class="label-change">
                                {{item.name}}
                                <textarea v-model="item.description" class="subject-description"/>
                            </label>

                        </div>
                    </div>
                    <div class="btn-container-flex">
                        <div class="btn-one">
                            <router-link to="#tutor">
                                <app-btn
                                    myClass="btn-blank"
                                    text="Отменить изменения"
                                    @click="cancelTutorChanges"
                                />
                            </router-link>
                        </div>
                        <router-link to="#tutor">
                            <app-btn
                                myClass="btn-yellow"
                                text="Сохранить изменения"
                                @click="saveTutorChanges"
                            />
                        </router-link>
                    </div>
                </div>

            </section>


            <section class="register-tutor" v-show="!userData.is_tutor && (currentPage === 'registerTutorStepOne' ||
            currentPage === 'registerTutorStepTwo' || currentPage === 'registerTutorStepThree')">
                <p class="p-title">Хорошо разбираешься в предмете и хочешь помочь другим?<br>
                    Заполни информацию о себе и стань репетитором!</p>
                <div
                    class="register-tutor-step-one"
                    v-show="currentPage === 'registerTutorStepOne'"
                >
                    <div class="changing-page-styles">
                        <img class="steps" src="../../../public/images/steps.svg" alt="">
                        <p class="step-title">Выбери предметы, которые будешь преподавать</p>
                    </div>
                    <div class="wrapper">
                        <div
                            v-for="item in subjects"
                            :key="item.id"
                            class="my-checkbox"
                        >
                            <input
                                v-model="item.is_chosen"
                                type="checkbox"
                                class="custom-checkbox"
                                :id="'all-interests-to-choose' + item.id"
                                name="all"
                            >
                            <label :for="'all-interests-to-choose' + item.id">{{item.name}}</label>
                        </div>
                    </div>
                </div>

                <div
                    class="register-tutor-step-two"
                    v-show="currentPage === 'registerTutorStepTwo'"
                >
                    <div class="changing-page-styles">
                        <img class="steps" src="../../../public/images/stepsSelectedTwo.svg" alt="">
                        <p class="step-title">Заполни сведения о себе</p>
                        <p class="step-subtitle">Образование</p>
                        <div class="selects">
                            <label class="label-change"> Степень
                                <select  v-model="userData.degree">
                                    <option value="Бакалавриат" selected>Бакалавриат</option>
                                    <option value="Специалитет" selected>Специалитет</option>
                                    <option value="Магистратура" selected>Магистратура</option>
                                </select>
                            </label>
                            <label class="label-change"> Курс
                                <select  v-model="userData.course">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </label>
                            <label class="label-change">
                                Специальность
                                <input class="input-long-change" type="text"  v-model="userData.specialty">
                            </label>
                        </div>
                        <p class="step-subtitle">Контактные данные</p>
                        <div class="cols">

                            <div class="number-container-register">
                                <label class="label-change">
                                    Телефон
                                    <input class="input-short-change" type="text"  v-model="userData.phone_number">
                                </label>
                            </div>


                            <label class="label-change">
                                E-mail
                                <input class="input-short-change" type="text"  v-model="userData.email">
                            </label>
                        </div>
                    </div>


                </div>

                <div
                    class="register-tutor-step-three"
                    v-show="currentPage === 'registerTutorStepThree'"
                >
                    <div class="changing-page-styles">
                        <img class="steps" src="../../../public/images/stepThreeRegister.svg" alt="">
                        <p class="step-title">Подробно опиши  свои навыки</p>
                        <div class="cols">
                            <div
                                v-for="item in chosenSub"
                                :key="item.id"
                            >
                                <label class="label-change">
                                    {{item.name}}
                                    <textarea v-model="item.description" class="subject-description"/>
                                </label>

                            </div>
                        </div>

                    </div>

                </div>


                <div class="btn-container-flex">
                    <div class="btn-one" v-show="currentPage === 'registerTutorStepTwo' ||
                    currentPage === 'registerTutorStepThree'">
                        <app-btn-small
                            myClass="btn-blank-small"
                            text="Назад"
                            @click="prevStep"
                        />
                    </div>
                    <router-link :to="stepPath"  v-if="currentPage !== 'registerTutorStepThree'">
                        <app-btn-small
                            myClass="btn-yellow-small"
                            text="Далее"
                            @click="nextStep"
                        />
                    </router-link>
                    <router-link to="#tutor" v-else>
                        <app-btn
                            myClass="btn-yellow"
                            text="Стать репетитором"
                            @click="becomeTutor"
                        />
                    </router-link>
                </div>
            </section>


            <section class="schedule" v-show="currentPage === 'schedule'">
                <div >
                    <kendo-scheduler
                        v-if="!loading"
                        id="scheduler"
                        :data-source="cells"
                        :date="date"
                        :height="1260"
                        :isAllDay="false"
                        :startTime="startTime"
                        :endTime="endTime"
                        :timeFormat="timeFormat"
                        :event-template="eventTemplate"
                        :editable-template="customEditorTemplate"
                        @edit="onEdit"
                        @add="onAdd"
                        @cancel="onCancel"
                        @dataBound="onDataBound"
                        @move="onMove"
                        @navigate="onNavigate"
                        @resize="onResize"
                        @save="onSave"
                        @remove="onRemove"
                    >

                        <kendo-scheduler-view :type="'week'"></kendo-scheduler-view>
                    </kendo-scheduler>
                </div>
            </section>

        </div>
        <the-modal
            :id-pref="modalTheme === 'interests' ? 'all-interests' : 'all-tutor-subjects'"
            ref="modal"
            :allTmp="modalTmp"
            :isChanged="isModalChanged"
            :all="modalTheme === 'all-tutor-subjects' ? subjects : interests"
        />
        <app-footer/>
    </div>
</template>

<script>
import AppNavbar from "@/components/AppNavbar";
import TheModal from "@/components/TheModal";
import AppFooter from "@/components/AppFooter";
import AppBtn from "@/components/AppBtn";
import PhotoCard from "@/components/Info/PhotoCard";
import StudyCard from "@/components/Info/StudyCard";
import ContactInfoCard from "@/components/Info/ContactInfoCard";
import AppSkillsList from "@/components/Info/AppSkillsList";
import AppBtnSmall from "@/components/TutorRegister/AppBtnSmall";
import '@progress/kendo-ui'
import '@progress/kendo-theme-default/dist/all.css'
import { Scheduler } from '@progress/kendo-scheduler-vue-wrapper'
import { SchedulerView } from '@progress/kendo-scheduler-vue-wrapper'
import '@progress/kendo-ui/js/messages/kendo.messages.ru-RU.js'
import '@progress/kendo-ui/js/cultures/kendo.culture.ru-RU.js'
// eslint-disable-next-line no-undef
kendo.culture("ru-RU")



export default {

    data() {
        return {
            loading: false,

            eventTemplate: '<h3 class="schedule-title">#: title #</h3><p class="schedule-time">#: kendo.toString(start, "hh:mm") # - #: kendo.toString(end, "hh:mm") #</p> ' ,
            rub: `${process.env.VUE_APP_APP_URL}/images/rub.svg`,

            userData: null,

            pictureStatic: `${process.env.VUE_APP_APP_URL}/images/default.jpg`,

            modalTheme: 'interests',
            isModalChanged: false,
            currentStep: 'One',
            modalTmp: [],

            date: new Date('2021/6/18'),
            startTime: new Date('2021/6/18 10:00'),
            endTime: new Date('2021/6/18 20:00'),
            timeFormat: "HH:mm",
            isEventAdded: true,
            currentPage: 'info',
            cells: [],

            tmpInfo: {},

            interests: [],
            subjects: [],
        }
    },
    methods: {
        async logout() {
            await this.$auth.logout({});
        },
        showCurrentPage() {
            console.log(this.currentPage)
        },
        showModalInterests() {
            this.isModalChanged = false
            this.modalTheme = 'interests'
            this.$refs.modal.show = true
            this.modalTmp = []
            for (let i = 0; i < this.interests.length; i++) {
                this.modalTmp.push({...this.interests[i]})
            }
        },
        showModalInterestsToChange() {
            this.isModalChanged = true
            this.modalTheme = 'interests'
            console.log(this.modalTheme)
            this.$refs.modal.show = true
            this.modalTmp = []
            for (let i = 0; i < this.interests.length; i++) {
                this.modalTmp.push({...this.interests[i]})
            }
        },
        showModalTutorSubjects() {
            this.isModalChanged = false
            this.modalTheme = 'all-tutor-subjects'
            console.log(this.modalTheme)
            this.$refs.modal.show = true
            this.modalTmp = []
            for (let i = 0; i < this.subjects.length; i++) {
                this.modalTmp.push({...this.subjects[i]})
            }
        },
        showModalTutorSubjectsToChange() {
            this.isModalChanged = true
            this.modalTheme = 'all-tutor-subjects'
            console.log(this.modalTheme)
            this.$refs.modal.show = true
            this.modalTmp = []
            for (let i = 0; i < this.subjects.length; i++) {
                this.modalTmp.push({...this.subjects[i]})
            }
        },


        async saveProfileChanges() {
            let updatedData = this.userData;

            let interests = [];
            const interestData = this.interests.filter(o => o.is_chosen);
            for (let i = 0; i < interestData.length; i++) {
                interests.push(interestData[i].id);
            }
            updatedData.interests = interests;

            let subjects = [];
            const subjectData = this.subjects.filter(o => o.is_chosen);
            for (let i = 0; i < subjectData.length; i++) {
                subjects.push({ id: subjectData[i].id, description: subjectData[i].description });
            }
            updatedData.subjects = subjects;

            await window.axios.post(`/api/user/update`, updatedData);

            updatedData.subjects = subjectData;
            updatedData.interests = interestData;
            this.currentPage = 'info';
        },
        async cancelProfileChanges() {
            this.userData = await this.$auth.user();
            this.currentPage = 'info';
        },

        async saveTutorChanges() {
            let updatedData = this.userData;

            let interests = [];
            const interestData = this.interests.filter(o => o.is_chosen);
            for (let i = 0; i < interestData.length; i++) {
                interests.push(interestData[i].id);
            }
            updatedData.interests = interests;

            let subjects = [];
            const subjectData = this.subjects.filter(o => o.is_chosen);
            for (let i = 0; i < subjectData.length; i++) {
                subjects.push({ id: subjectData[i].id, description: subjectData[i].description });
            }
            updatedData.subjects = subjects;

            await window.axios.post(`/api/user/update`, updatedData);

            updatedData.subjects = subjectData;
            updatedData.interests = interestData;

            this.currentPage = 'tutor';
        },
        async cancelTutorChanges() {
            this.userData = await this.$auth.user();
            this.currentPage = 'tutor';
        },

        prevStep() {
            if (this.currentStep === 'Two') {
                this.currentStep = 'One'
                this.currentPage = 'registerTutorStepOne'
            }
            if (this.currentStep === 'Three') {
                this.currentStep = 'Two'
                this.currentPage = 'registerTutorStepTwo'
            }
        },
        nextStep() {
            if (this.currentStep === 'Two') {
                this.currentStep = 'Three'
                this.currentPage = 'registerTutorStepThree'
            }
            if (this.currentStep === 'One') {
                this.currentStep = 'Two'
                this.currentPage = 'registerTutorStepTwo'
            }
        },

        async becomeTutor() {
            this.userData.is_tutor = true;

            let updatedData = this.userData;

            let interests = [];
            const interestData = this.interests.filter(o => o.is_chosen);
            for (let i = 0; i < interestData.length; i++) {
                interests.push(interestData[i].id);
            }
            updatedData.interests = interests;

            let subjects = [];
            const subjectData = this.subjects.filter(o => o.is_chosen);
            for (let i = 0; i < subjectData.length; i++) {
                subjects.push({ id: subjectData[i].id, description: subjectData[i].description });
            }
            updatedData.subjects = subjects;

            await window.axios.post(`/api/user/update`, updatedData);

            updatedData.subjects = subjectData;
            updatedData.interests = interestData;

            this.currentPage = 'tutor'
        },

        onChange: function (ev) {
            console.log("Event :: change", ev);
        },
        onEdit: function (ev) { //при открытии готового окошка
            console.log("Event :: edit", ev);

        },
        onAdd: function (ev) {
            this.isEventAdded = true;
            console.log("Event :: add", ev);
        },
        onCancel: function (ev) {
            console.log("Event :: cancel", ev);
            this.isEventAdded = false
        },
        onDataBound: function (ev) {
            console.log("Event :: dataBound", ev);
        },
        onMove: function (ev) {
            console.log("Event :: move", ev);
        },
        onNavigate: function (ev) {//При обновлении значком обновить
            console.log("Event :: navigate", ev);
        },
        onResize: function (ev) {
            console.log("Event :: resize", ev);
        },

        async onSave(ev) { //При сохранении окошка ПОЛУЧАЕМ ДАННЫЕ СОХРАНЕННОЙ ШТУЧКИ
            console.log("Event :: save", ev);
            if (this.isEventAdded) {
                this.cells.push({
                    title: ev.event.title,
                    start: ev.event.start,
                    end: ev.event.end,
                    description: ev.event.description
                })
                this.isEventAdded = false;
                await window.axios.post(`/api/schedule/update`, { cells: this.cells });
            } else {
                await this.onRemove(ev);
            }
            this.isEventChanged = false
        },

        async onRemove(ev) {
            console.log("Event :: remove", ev);
            let index = this.cells.findIndex(function(e) {
                return e.id === ev.event.id
            })
            if (index !== -1) this.cells.splice(index, 1)
            await window.axios.post(`/api/schedule/update`, { cells: this.cells });
            this.isEventAdded = false
        },

        doNothing() {

        }
    },
    async mounted() {
        this.loading = true;
        this.userData = await this.$auth.user();
        const interests = await window.axios.get(`/api/interests`);
        const subjects = await window.axios.get(`/api/subjects`);
        const cells = await window.axios.get(`/api/cells`);
        this.interests = interests.data;
        this.subjects = subjects.data;
        this.cells = cells.data;
        this.loading = false;
    },
    computed: {
        chosenSub: function() {
            return this.subjects.filter((e) => e.is_chosen);
        },
        stepPath: function () {
            return '#registerTutor#step' + this.currentStep;
        },
        startDate: function () {
            return new Date("2013/6/13 09:00 AM")
        },
        customEditorTemplate: function () {
            let html = '<div data-container-for="titleId" class="k-edit-field">' +
                '<select class="select-subject" id="titleId" required="required" data-bind="value:title" ' +
                'data-role="dropdownlist"  data-text-field="text">';
            if (this.userData) {
                for (let i = 0; i < this.userData.subjects.length; i++) {
                    html += '<option class="select-option">' + this.userData.subjects[i].name + '</option>'
                }
            }
            html += '</select></div>'
            return '<div class="k-edit-label"><label class="label-edit" for="titleId">Предмет</label></div>\n' +
                html +
                '<div class="k-edit-label">\n' +
                '        <label class="label-edit" for="start">Начало</label>\n' +
                '      </div>\n' +
                '    <div data-container-for="start" class="k-edit-field">\n' +
                '        <input type="text"\n' +
                '               data-role="datetimepicker"\n' +
                '               data-interval="15"\n' +
                '               data-type="date"\n' +
                '               data-bind="value:start,invisible:isAllDay"\n' +
                '               name="start"/>\n' +
                '        <input type="text" data-type="date" data-role="datepicker" data-bind="value:start,visible:isAllDay" name="start" />\n' +
                '        <span data-bind="text: startTimezone"></span>\n' +
                '        <span data-for="start" class="k-invalid-msg" style="display: none;"></span>\n' +
                '      </div> <div class="k-edit-label"><label class="label-edit" for="end">Конец</label></div>\n' +
                '    <div data-container-for="end" class="k-edit-field">\n' +
                '        <input type="text" data-type="date" data-role="datetimepicker" data-bind="value:end,invisible:isAllDay" name="end" data-datecompare-msg="End date should be greater than or equal to the start date" />\n' +
                '        <input type="text" data-type="date" data-role="datepicker" data-bind="value:end,visible:isAllDay" name="end" data-datecompare-msg="End date should be greater than or equal to the start date" />\n' +
                '        <span data-bind="text: endTimezone"></span>\n' +
                '        <span data-bind="text: startTimezone, invisible: endTimezone"></span>\n' +
                '        <span data-for="end" class="k-invalid-msg" style="display: none;"></span>\n' +
                '      </div> <div class="k-edit-label"><label class="label-edit" for="description">' +
                '<img src="/images/rub.svg">  в час</label></div>\n' +
                '    <div data-container-for="description" class="k-edit-field">\n' +
                '        <input type="number" name="description" class="k-textbox" data-bind="value:description"></input>\n' +
                '      </div><p></p>'

        },
    },
    components: {
        AppNavbar,
        TheModal,
        AppFooter,
        AppBtn,
        PhotoCard,
        StudyCard,
        ContactInfoCard,
        AppSkillsList,
        AppBtnSmall,
        'kendo-scheduler': Scheduler,
        'kendo-scheduler-view': SchedulerView
    }
}
</script>


<style scoped>

</style>
