<template>
    <div class="home">
        <app-navbar/>

        <app-button-to-top
            @toTop="toTop"
            v-show="scY > 300"
        />
        <the-stories-list :stories="stories" v-if="stories.length"/>

        <section class="find">
            <div class="container">
                <h2>Найди свое!</h2>
                <form>

                    <div class="input">
                        <label>
                            <input type="text" placeholder="Поиск" v-model="inputSearch">
                        </label>
                        <button type="button"></button>
                    </div>
                    <div class="checkbox">
                       <input
                            @click="changeCheckboxes"
                            type="checkbox"
                            class="custom-checkbox"
                            id="all"
                            name="all"
                            v-model="showAll"
                        >
                        <label for="all">Все</label>

                        <input
                            @click="hideTutors"
                            type="checkbox"
                            class="custom-checkbox"
                            id="tutors"
                            name="tutors"
                            v-model="showTutors"
                        >
                        <label for="tutors">Репетиторы</label>

                        <input
                            @click="hideEvents"
                            type="checkbox"
                            class="custom-checkbox"
                            id="events"
                            name="events"
                            v-model="showEvents">
                        <label for="events">Мероприятия</label>

                        <input
                            @click="hideOrganizations"
                            type="checkbox"
                            class="custom-checkbox"
                            id="organizations"
                            name="organizations"
                            v-model="showOrganizations"
                        >
                        <label for="organizations">Организации</label>
                    </div>
                    <div class="selects">
                        <label>
                            <select>
                                <option value="Все направления" selected>Все виды</option>
                                <option value="Хакатон">Хакатон</option>
                                <option value="Лекция">Лекция</option>
                            </select>
                        </label>
                        <label>
                            <select>
                                <option value="Ближайшие">Ближайшие</option>
                                <option value="Неделя">На этой неделе</option>
                                <option value="2Недели">На следующей неделе</option>
                            </select>
                        </label>
                        <label>
                            <select>
                                <option value="Высокий рейтинг">Любой рейтинг</option>
                                <option value="Меньше 3">Меньше 3.0</option>
                                <option value="3-4">Рейтинг 3.0-4.0</option>
                                <option value="4-5">Рейтинг 4.0-5.0</option>
                            </select>
                        </label>
                    </div>
                </form>
            </div>
        </section>

        <section class="tutors" v-if="showTutors">
            <div class="container">
                <h2>Репетиторы</h2>
            </div>
            <div class="container-cards">
                <div class="container-card"
                     v-for="(card,i) in firstLineTutorCards"
                     :key="i"
                >
                    <the-tutor-card
                        :card="card"
                        @signUp="showModal"
                    />
                </div>
            </div>

            <div
                v-for="line in tutorLineAmount"
                :key="line"
            >
                <div class="container-cards">
                    <div
                        class="container-card"
                        v-for="(card,i) in showTutorCards(line)"
                        :key="i"
                    >
                        <the-tutor-card
                            :card="card"
                            @signUp="showModal"
                        />
                    </div>
                </div>
            </div>
            <app-button-show-more
                v-if="tutorCardsShown < tutors.length"
                :items-left="tutors.length - tutorCardsShown"
                @click="showMoreTutors"
            />
        </section>

        <section class="event" v-if="showEvents">
            <div class="container">
                <h2>Мероприятия</h2>
            </div>
            <div class="container-cards">
                <div
                    class="container-card"
                    v-for="(card,i) in firstLineEventCards"
                    :key="i"
                >
                    <the-event-card
                        :url="card.url"
                        :topLeft="card.topLeftText"
                        :topRight="card.topRightText"
                        :topCenter="card.centerTopText"
                        :bottomCenter="card.centerBottomText"
                    />
                </div>
            </div>

            <app-advertisement/>

            <div class="container-cards">
                <div
                    class="container-card"
                    v-for="(card,i) in secondLineEventCards"
                    :key="i"
                >
                    <the-event-card
                        :url="card.url"
                        :topLeft="card.topLeftText"
                        :topRight="card.topRightText"
                        :topCenter="card.centerTopText"
                        :bottomCenter="card.centerBottomText"
                    />
                </div>
            </div>

            <div
                v-for="line in eventLineAmount"
                :key="line"
            >
                <div class="container-cards">
                    <div
                        class="container-card"
                        v-for="(card,i) in showEventCards(line)"
                        :key="i"
                    >
                        <the-event-card
                            :url="card.url"
                            :topLeft="card.topLeftText"
                            :topRight="card.topRightText"
                            :topCenter="card.centerTopText"
                            :bottomCenter="card.centerBottomText"
                        />
                    </div>
                </div>
            </div>

            <app-button-show-more
                v-if="eventCardsShown < events.length"
                :items-left="events.length - eventCardsShown"
                @click="showMoreEvents"
            />
        </section>

        <section class="organizations" v-if="showOrganizations">
            <div class="container">
                <h2>Организации</h2>
            </div>
            <div class="container-cards">
                <div class="container-card"
                     v-for="(card,i) in firstLineOrganizationCards"
                     :key="i"
                >
                    <the-organization-card
                        :card="card"
                    />
                </div>
            </div>

            <div
                v-for="line in organizationLineAmount"
                :key="line"
            >
                <div class="container-cards">
                    <div
                        class="container-card"
                        v-for="(card,i) in showOrganizationCards(line)"
                        :key="i"
                    >
                        <the-organization-card
                            :card="card"
                        />
                    </div>
                </div>
            </div>
            <app-button-show-more
                v-if="organizationCardsShown < organizations.length"
                :items-left="organizations.length - organizationCardsShown"
                @click="showMoreOrganizations"
            />
        </section>
        <div class="blank">

        </div>
        <section class="footer">
            <app-footer

            />
        </section>

        <the-modal-sign-up-for-class
            ref="modal"
            :info="tutors.find(item => item.id === tutorCardToOpen)"
            @click="signUpForClass"
        />

        <pay-modal
            ref="paymodal"
            :info="payData"
        />


    </div>
</template>

<script>

import AppAdvertisement from "@/components/AppAdvertisement";
import AppNavbar from "@/components/AppNavbar";
import TheStoriesList from "@/components/Stories/TheStoriesList";
import TheEventCard from "@/components/TheEventCard";
import AppButtonShowMore from "@/components/AppButtonShowMore";
import TheTutorCard from "@/components/TheTutorCard";
import TheOrganizationCard from "@/components/TheOrganizationCard";
import AppFooter from "@/components/AppFooter";
import AppButtonToTop from "@/components/AppButtonToTop";
import TheModalSignUpForClass from "@/components/TheModalSignUpForClass";
import payModal from "../components/PaymentWindows/payModal";
export default {
    name: 'Home',
    data() {
        return {
            payData: null,
            inputSearch: '',
            eventCardsShown: 8,
            tutorCardsShown: 4,
            organizationCardsShown: 4,
            eventLineAmount: 0,
            tutorLineAmount: 0,
            organizationLineAmount: 0,
            showEvents: true,
            showTutors: true,
            showOrganizations: true,
            showAll: true,
            scTimer: 0,
            scY: 0,
            tutorCardToOpen: {},
            events: [
                {
                    url: `${process.env.VUE_APP_APP_URL}/images/Events.png`,
                    topLeftText: 'Бесплатный вебинар',
                    topRightText: '21 апр',
                    centerTopText: 'Digital: первый шаг к востребованной профессии',
                    centerBottomText: 'На вебинаре вы познакомитесь с ' +
                        'разнообразием интернет-профессий, ' +
                        'поймете, какая подойдет именно вам, а также ' +
                        'составите индивидуальный план своего профессионального развития'
                },
                {
                    url: `${process.env.VUE_APP_APP_URL}/images/Events.png`,
                    topLeftText: 'Бесплатный вебинар',
                    topRightText: '21 апр',
                    centerTopText: 'Digital: первый шаг к востребованной профессии',
                    centerBottomText: 'На вебинаре вы познакомитесь с ' +
                        'разнообразием интернет-профессий, ' +
                        'поймете, какая подойдет именно вам, а также ' +
                        'составите индивидуальный план своего профессионального развития'
                },
                {
                    url: `${process.env.VUE_APP_APP_URL}/images/Events.png`,
                    topLeftText: 'Бесплатный вебинар',
                    topRightText: '21 апр',
                    centerTopText: 'Digital: первый шаг к востребованной профессии',
                    centerBottomText: 'На вебинаре вы познакомитесь с ' +
                        'разнообразием интернет-профессий, ' +
                        'поймете, какая подойдет именно вам, а также ' +
                        'составите индивидуальный план своего профессионального развития'
                },
                {
                    url: `${process.env.VUE_APP_APP_URL}/images/Events.png`,
                    topLeftText: 'Бесплатный вебинар',
                    topRightText: '21 апр',
                    centerTopText: 'Digital: первый шаг к востребованной профессии',
                    centerBottomText: 'На вебинаре вы познакомитесь с ' +
                        'разнообразием интернет-профессий, ' +
                        'поймете, какая подойдет именно вам, а также ' +
                        'составите индивидуальный план своего профессионального развития'
                },
            ],
            tutors: [],
            organizations: [
                {
                    section:'Математика',
                    url: `${process.env.VUE_APP_APP_URL}/images/Phismat.png`,
                    rating:'9.4',
                    members: '32',
                    name: 'Клуб любителей матфизики и чего-нибудь еще я не знаю',
                    description:'Преподаю теорию, помогаю реализовать ' +
                        'методы решения дифференциальных уравнений разными методами...',
                },
                {
                    section:'Английский',
                    url: `${process.env.VUE_APP_APP_URL}/images/Phismat.png`,
                    rating:'8',
                    members: '10',
                    name: 'Языковой клуб EnglishHome',
                    description:'Беседуем по средам ' +
                        'помогаем преодолеть языковой барьер',
                },
                {
                    section:'Английский',
                    url: `${process.env.VUE_APP_APP_URL}/images/Phismat.png`,
                    rating:'8',
                    members: '10',
                    name: 'Языковой клуб EnglishHome',
                    description:'Беседуем по средам ' +
                        'помогаем преодолеть языковой барьер',
                },
                {
                    section:'Английский',
                    url: `${process.env.VUE_APP_APP_URL}/images/Phismat.png`,
                    rating:'8',
                    members: '10',
                    name: 'Языковой клуб EnglishHome',
                    description:'Беседуем по средам ' +
                        'помогаем преодолеть языковой барьер',
                },
            ],

            stories: [],
        }
    },
    methods: {
        changeCheckboxes() {
            if (document.getElementById("all").checked){
                this.showTutors = true;
                this.showEvents = true;
                this.showOrganizations = true;
            } else {
                this.showTutors = false;
                this.showEvents = false;
                //document.getElementById("organizations").checked = false;
                this.showOrganizations = false;
            }

        },
        showMoreEvents() {
            this.eventLineAmount += 1;
            this.eventCardsShown += 4;
        },
        showMoreTutors() {
            this.tutorLineAmount += 1;
            this.tutorCardsShown += 4;
        },
        showMoreOrganizations() {
            this.organizationLineAmount += 1;
            this.organizationCardsShown += 4;
        },
        showEventCards(line) {
            return this.events.slice(4 + line * 4, line * 4 + 8);
        },
        showTutorCards(line) {
            if (this.inputSearch !== '') {
                const search = new RegExp(this.inputSearch , 'i'); // prepare a regex object
                return this.tutors.filter(item => search.test(item.subject.name)).slice(line * 4, line * 4 + 4);
            }
            return this.tutors.slice(line * 4, line * 4 + 4);
        },
        showOrganizationCards(line) {
            return this.organizations.slice(line * 4, line * 4 + 4);
        },
        hideEvents() {
            document.getElementById("all").checked = false;
            this.eventLineAmount = 0;
            this.eventCardsShown = 8;
        },
        hideTutors() {
            document.getElementById("all").checked = false;
            this.tutorLineAmount = 0;
            this.tutorCardsShown = 4;
        },
        hideOrganizations() {
            document.getElementById("all").checked = false;
            this.organizationLineAmount = 0;
            this.organizationCardsShown = 4;
        },
        handleScroll () {
            if (this.scTimer) return;
            this.scTimer = setTimeout(() => {
                this.scY = window.scrollY;
                clearTimeout(this.scTimer);
                this.scTimer = 0;
            }, 100);
        },
        toTop () {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        },
        showModal(id) {
            this.tutorCardToOpen = id
            this.$refs.modal.show = true
            console.log('hsch')
        },
        signUpForClass(data) {
            this.$refs.modal.show = false
            this.payData = data;
            this.$refs.paymodal.show = true
        },
    },
    computed: {
        firstLineEventCards: function () {
            return this.events.slice(0, 4);
        },
        secondLineEventCards: function () {
            return this.events.slice(4, 8);
        },
        firstLineTutorCards: function () {
            if (this.inputSearch !== '') {
                const search = new RegExp(this.inputSearch , 'i'); // prepare a regex object
                return this.tutors.filter(item => search.test(item.subject.name)).slice(0, 4);
            }
            return this.tutors.slice(0, 4);
        },
        secondLineTutorCards: function () {
            return this.tutors.slice(4, 8);
        },
        firstLineOrganizationCards: function () {
            return this.organizations.slice(0, 4);
        },
        secondLineOrganizationCards: function () {
            return this.tutors.slice(4, 8);
        },
        lines: function () {
            return this.eventLineAmount;
        },
    },
    updated() {
        if (document.getElementById("tutors").checked &&
            document.getElementById("events").checked &&
            document.getElementById("organizations").checked) {
            document.getElementById("all").checked = true;
        }
    },
    async mounted() {
        window.addEventListener('scroll', this.handleScroll);
        const stories = await window.axios.get(`/api/stories`);
        this.stories = stories.data;
        const tutors = await window.axios.get(`/api/tutors`);
        this.tutors = tutors.data;
    },
    components: {
        payModal,
        TheEventCard,
        TheStoriesList,
        AppNavbar,
        AppAdvertisement,
        AppButtonShowMore,
        TheTutorCard,
        AppFooter,
        AppButtonToTop,
        TheModalSignUpForClass,
        TheOrganizationCard
    }
}
</script>
