<template>
    <div>
        <div class="containerFullPage">
           <div>
               <nav class="navReg">
                   <router-link to="/">
                       <img class="Logo" src="../assets/logo.svg" alt="Главная">
                   </router-link>

                   <div class="enter">
                       <img src="../assets/enter.svg" alt="" @click="showModal" class="enterImg show-modal-button"/>
                       <modal-window ref="modal"></modal-window>
                   </div>

               </nav>
           </div>
            <div class="text-and-btn">
                <div class="text">
                    <p class="title-left">
                        <span class="yellowColor">Mango</span><span class="gray">Edu — </span>
                    </p>
                    <p class="text-left">
                         всё о дополнительном образовании<br>в твоем университете
                    </p>
                </div>
                <div class="su-btn">
                    <button class="register-button" @click="showRegModal" >
                        Зарегистрироваться
                    </button>
                    <r-personal-data-window ref="rmodal"></r-personal-data-window>
                </div>
            </div>
            <div class="picture">
                <img class="picture-right" src="../assets/SmartGirl.svg" alt="Главная">
            </div>
        </div>
        <div class="RegFooter">
            <img src="../../../public/images/logoFooter.svg" alt="" class="logoFooter">
            <p>&#169;2020 ООО «MangoEdu». Все права защищены.</p>
            <p>Сообщить о проблеме</p>
        </div>
    </div>
</template>



<script>
    import ModalWindow from "@/components/Regestration/ModalWindow";
    import RPersonalDataWindow from "../components/Regestration/RPersonalDataWindow";
    export default {
        name: "SignUp",
        components: {ModalWindow, RPersonalDataWindow},
        methods: {
            showModal: function () {
                this.$refs.modal.show = true
            },
            showRegModal: function () {
                this.$refs.rmodal.show = true
            }
        },
    }
</script>

<style lang="scss">
    * {
        font-family: Montserrat;
    }


    .containerFullPage {
        width: 1464px;
        margin-left: auto;
        margin-right: auto;
    }

    .navReg {
        margin-bottom: 44px;
        margin-top: 16px;
    }

    .Logo {
        display: inline;
        width: 343.33px;
        height: 90px;
    }

    .enter {
        display: inline;
        float: right;
    }

    .enterImg {
        width: 80px;
        height: 80px;
    }

    .text {
        margin-top: 48px;
        line-height: 70px;
    }

    .title-left {
        font-size: 80px;
    }

    .text-left {
        font-size: 44px;
        color: #3F3D56;
    }

    .yellowColor {
        color: #FFCC33;
    }

    .gray {
        color: #3F3D56;
    }

    .text-and-btn {
        display: flex;
        float: left;
        flex-direction: column;
    }

    .su-btn {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        align-self: baseline;
    }

    .picture-right {
        display: flex;
        float: right;
        width: 604px;
        height: 480px;
        margin-bottom: 100px;
    }

    .register-button {
        background: #FAD150;
        border: 1px solid #FFCC33;
        box-sizing: border-box;
        width: 382px;
        height: 75px;
        /* Mango2 */
        box-shadow: 0px 4px 10px #CBC09F;
        border-radius: 100px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }

    .logoFooter {
        margin-bottom: 15px;
    }

    .RegFooter {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 100px;
        background: rgba(255, 204, 51, 0.3);
        max-height: 238px;
        text-align: center;
        padding: 62px 0 45px 0;
        p {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 15px;
            color: #3F3D56;
        }
    }
</style>
