.advertisement {
    margin-top: 85px;
    margin-bottom: 85px;
    .container-carousel {
        max-width: 1464px;
        margin: auto;
        display: flex;
        justify-content: space-between;

    }
    .v-carousel {
        height: 422px !important;
        width: 720px !important;
        border-radius: 30px;
        box-shadow: 0 4px 10px #CBC09F;
    }

    .v-sheet {
        height: 555px !important;
        background: linear-gradient(90deg, #70E1F5 0%, #FFD194 100%);
        border-radius: 30px;

    }

    .v-image {
        height: 555px !important;
        border-radius: 30px;
        box-shadow: 0 4px 10px #CBC09F;
    }

    .v-carousel-item {
        height: 605px !important;

    }

    .theme--dark.v-btn.v-btn--icon {
        color: rgba(255, 204, 51, 0.6);
    }
    .theme--dark.v-btn.v-btn--icon:active {
        color: rgba(63, 61, 86, 0.8);
    }


    .offer {
        display: inline-block;
        padding-top: 56px;
        padding-left: 52px;

        p {
            margin-bottom: 0;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 36px;
            line-height: 52px;
            color: #3F3D56;
        }
    }

    img {
        float: right;
        margin-top: 48px;
        margin-right: 72px;
    }

    .name {
        margin-top: 43px;
        margin-right: 72px;
        font-family: Montserrat;
        font-size: 44px;
        line-height: 50px;
        font-weight: 700;
        text-align: right;
        color: #3F3D56;
    }


    .btn-dark {
        background: #3F3D56;
        border-radius: 100px;
        width: 450px;
        height: 70px;
        font-family: Montserrat;
        font-size: 24px;
        line-height: 14px;
        font-weight: 500;
        float: right;
        margin-top: 85px;
        margin-right: 72px;
    }
}
