.custom-btn-modal {
    text-align: center;
    button {
        width: 275px;

        height: 44px;
        border-radius: 32px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
    }
    .btn-blank {
        color: #FFCC33;
        border: 1px solid #FFC100;
    }
    .btn-yellow {
        background-color: #FFCC33;
        color: #000000;
        box-shadow: 0 4px 10px #CBC09F;
    }
}
