.custom-btn {
    text-align: center;
    button {
        height: 64px;
        border-radius: 32px;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 700;
    }
    .btn-blank {
        width: 463px;
        color: #FFCC33;
        border: 1px solid #FFC100;
    }
    .btn-yellow {
        width: 463px;
        background-color: #FFCC33;
        color: #000000;
        box-shadow: 0 4px 10px #CBC09F;
    }
    .btn-blank-small {
        width: 180px;
        color: #FFCC33;
        border: 1px solid #FFC100;
    }
    .btn-yellow-small {
        width: 180px;
        background-color: #FFCC33;
        color: #000000;
        box-shadow: 0 4px 10px #CBC09F;
    }
}
