.button-show-more {
    text-align: center;
    button {
        margin-top: 60px;
        width: 463px;
        height: 64px;
        border: 1px solid #FFC100;
        border-radius: 32px;
        font-family: Roboto;
        font-size: 22px;
        color: #FFCC33;
    }
}
