.contact-info {
    text-align: left;
    background-color: #FDFDFD;
    box-shadow: 0 4px 10px #CBC09F;
    border-radius: 10px;
    padding: 26px 40px 26px 40px;
    .ci-title {
        @include Roboto-24-30-black();
        margin-bottom: 35px;
    }
    .email {
        @include Montserrat-18-20-black();
    }
    .number {
        @include Montserrat-18-20-black();
    }
}
