@import "../mixins/fonts";
.event-card {
    position: relative;
    img {
        max-width: 348px;
        max-height: 410px;
    }
    .top-left-text {
        @include Montserrat-12-18-white ();
        position: absolute;
        top: 17px;
        margin-left: 17px;
        border: 1px solid #FFCC33;
        border-radius: 60px;
        text-align: center;
        padding: 1px 20px 1px 20px;
    }

    .top-right-text {
        @include Montserrat-14-18-white ();//И ТУТ ДРУГОЙ ШРИФТ
        position: absolute;
        top: 20px;
        right: 17px;
    }

    .center-top-text {
        @include Montserrat-24-30-white (); //ТУТ ДРУГОЙ ШРИФТ
        position: absolute;
        top: 63px;
        left: 17px;
        text-align: left;
    }

    .center-bottom-text {
        @include Montserrat-14-20-white(); //И ТУТ
        position: absolute;
        bottom: 99px;
        left: 17px;
        text-align: left;
    }
    .button-left {
        @include Montserrat-12-14(); //И ТУТ
        position: absolute;
        bottom: 20px;
        left: 17px;
        background-color: #FFCC33;
        width: 192px;
        height: 32px;
        border-radius: 32px;
        color: #000000;
    }
}
