.custom-footer {
    background: rgba(255, 204, 51, 0.3);
    max-height: 238px;
    text-align: center;
    padding: 62px 0 45px 0;
    p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 15px;
        color: #3F3D56;
        margin-top: 15px;
    }
}
