@import "../mixins/fonts";
.free-slot {
    max-width: 100%;
    background-color: #FFF8E1;
    padding: 13px 16px 13px 16px;
    margin-right: 0;
    margin-bottom: 16px;
    .div-flex {
        display: flex;
    }
    .div-block {
        display: block;
        margin-right: auto;
        word-spacing: -1;
        .p-container {
            margin-bottom: 4px;
        }
    }
    .clock {
        margin-right: 22px;
    }

    .p-date {
        @include Roboto-18-17();
        color: #828282;
        font-weight: 500;
        margin-bottom: 0;
    }
    .price {
        margin-top: 4px;
        max-width: 100%;
        width: 67px;
        background-color: #FFE89E;
        border-radius: 10px;
        height: 30px;
        text-align: center;
        padding-top: 3px;
        @include Roboto-16-22-black;

        margin-left: auto;
    }
    .btn-write {
        border: 1px solid #3F3D56;
        border-radius: 32px;
        padding-left: 45px;
        padding-right: 45px;
        @include Roboto-12-18-black;
        font-weight: 700;
        height: 32px;
        margin-top: 3px;
        margin-right: 0;
        margin-left: 41px;
    }
}
