.input {
    :after {content:""; clear:both; display:table}
    position: relative;
    max-width: 655px;
    input {
        max-width: 655px;
        width: 100%;
        height: 52px;
        padding-left: 15px;
        border-radius: 100px;
        border: 1px solid #FFC100;
    }
    ::placeholder {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        color: #4F4F4F;
    }
    button {
        width: 42px;
        height: 42px;
        background: none;
        border: none;
        position: absolute;
        top: 8px;
        right: 8px;
    }
    button:before{
        content: url("../assets/Search.svg");
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        color: #4F4F4F;
    }
}
