@import "../mixins/fonts";
.modal-shadow-su-class {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.39);
    .flex-div {
        display: flex;
    }
    .modal-su-class {
        background: #fff;
        border-radius: 8px;
        padding: 24px 24px 63px 24px;
        max-width: 640px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .free-classes {
            .container {
                padding: 0 46px 0 46px;
                .title {
                    @include Roboto-18-17();
                    color: #333333;
                    margin-bottom: 0;
                }
                .p-info {
                    @include Roboto-16-22-black();
                    font-weight: 400;
                    margin-top: 13px;
                    margin-bottom: 0;
                }
                .space-50 {
                    margin-bottom: 50px;
                }
            }

        }
    }
    .section-tutor-modal {
        @include Montserrat-12-18-black ();
        border: 2px solid #FFCC33;
        border-radius: 10px;
        text-align: center;
        max-width: 220px;
        padding: 1px 60px 1px 60px;
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: 0.8fr 1fr 0.7fr;
        margin-top: 42px;
        .box-1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            .tutor-img {
                max-width: 120px;
                max-height: 120px;
            }
        }
        .box-2 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            .name {
                margin-top: 10px;
                @include Roboto-24-30-black()
            }
        }
        .box-3 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            .rating {
                @include Roboto-24-30-black();
                margin-right: 8px;
            }
            .star {
                width: 24px;
                height: 24px;
            }
        }
    }
    .tabsList {
        display: flex;
        list-style-type: none;
        margin-top: 46px;
        margin-bottom: 40px;
        @include Roboto-24-30-black();
        a {
            text-decoration: none;
        }
        li {
            margin-right: 54px;
        }
        .current-page {
            color: #FFC100;
        }
        .not-current-page {
            color: #BDBDBD;
        }
    }
}


