@import "../mixins/fonts";
.modal-container {
    .modal-notification-class {
        background: #fff;
        box-shadow: 0 4px 10px #CBC09F;
        border-radius: 8px;
        padding: 18px 0 18px 24px;
        max-width: 371px;
        width: 100%;
        position: absolute;
        margin-left: 1100px;
        z-index: 1;

        .notification-container {
            overflow-y: auto;
            max-height: 347px;
        }
        .delete-all {
            margin-top: 12px;
        }
    }
}

.notification {
    background-color: rgba(255, 204, 51, 0.4);;
    border-radius: 10px;
    padding: 16px 22px 18px;
    margin-bottom: 8px;
    width: 323px;
    height: 96px;
    .title {
        @include Roboto-16-22-black();
        color: #3F3D56;
        margin-bottom: 8px;
    }
    .descrip {
        @include Roboto-12-18-black();
        font-size: 14px;
    }
}


