@import "../mixins/fonts";
.modal-shadow {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.39);
}

.modal {
    background: #fff;
    border-radius: 8px;
    padding: 40px 0 32px 48px;
    min-width: 420px;
    max-width: 1239px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .wrapper {
        margin-top: 40px;
        display: grid;
        max-width: 1040px;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 61px;
        label {
            @include Roboto-18-24-black();
            font-weight: 400;
            margin-left: 16px;
        }
    }

    &-close {
        border-radius: 50%;
        color: #fff;
        background: #2a4cc7;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 7px;
        right: 7px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    &-title {
        color: #0971c7;
    }

    &-content {
        margin-bottom: 20px
    }

    &-footer {
        &__button {
            background-color: #0971c7;
            color: #fff;
            border: none;
            text-align: center;
            padding: 8px;
            font-size: 17px;
            font-weight: 500;
            border-radius: 8px;
            min-width: 150px;
        }
    }
    .my-checkbox {
        margin-bottom: 13px;
    }
    .btn-block {
        margin-right: 67px;
        display: flex;
        justify-content: flex-end;
    }
    .btn-1 {
        margin-right: 32px;
    }
}
