@import "../mixins/fonts";
.navbar {
    nav {
        margin-bottom: 50px;
        margin-top: 24px;
    }
    .logo {
        width: 343px;
        height: 90px;
    }
    .round {
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        width: 80px;
        height: 80px;
        border-radius: 100px;
        box-shadow: 0 4px 10px #CBC09F;
    }
    .round:last-child {
        margin-left: 67px;
    }
    .round .round_img {
        width: 25px;
        height: 28px;
    }
    .round div {
        position: absolute;
        top: 25px;
        margin-left: 80px;
        padding-top: 4px;
        background-color: #FFCC33;
        width: 56px;
        height: 35px;
        border: 1px solid #FFCC33;
        border-radius: 32px;
        text-align: center;
    }
    .round span {
        @include Roboto-16-22-black();
    }
    .container-notification {
        position: relative;
    }
}
