.organization-card {
    background: linear-gradient(90deg, #FBED96 0%, #ABECD6 100%);
    width: 348px;
    height: 410px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #CBC09F;
    padding-left: 17px;
    position: relative;

    img {
        position: absolute;
        width: 86px;
        height: 86px;
        top: 66px;
        left: 17px;
    }
    .rating {
        @include Roboto-18-17();
        position: absolute;
        top: 91px;
        left: 143px;
    }
    .star {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 87px;
        left: 177px;
    }
    .more {
        @include Roboto-12-14-grey();
        position: absolute;
        top: 123px;
        left: 143px;
    }
    .arrow {
        position: absolute;
        width: 11px;
        height: 8px;
        top: 125px;
        left: 223px;
    }
    .name {
        @include Roboto-18-24-black();
        position: absolute;
        top: 170px;
    }
    .subject {
        @include Roboto-16-22-black();
        position: absolute;
        bottom: 157px;
    }
    .description {
        @include Roboto-12-18-black();
        position: absolute;
        bottom: 99px;
        text-align: left;
    }
    .btn {
        @include Roboto-12-14-white(); //И ТУТ
        position: absolute;
        bottom: 43px;
        background-color: #3F3D56;
        width: 192px;
        height: 34px;
        border-radius: 32px;
        color: #FFFFFF;
    }
}
