@import "../mixins/fonts";
.custom-info {
    text-align: left;
    background-color: #FDFDFD;
    box-shadow: 0 4px 10px #CBC09F;
    border-radius: 10px;
    padding: 24px 40px 29px 40px;
    margin-bottom: 70px;
    .container-profile {
        position: relative;
        width: 50%;
    }

    .profile-photo {
        opacity: 1;
        display: block;
        width: 383px;
        height: 272px;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .custom-file-input {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        width: 274px;
        background-color: transparent;
        font-size: 16px;
        padding: 16px 32px;
        border: 1px solid #FFC100;
        border-radius: 32px;
        @include Roboto-24-30-black();
        color: #FFC100;
    }
    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }
    .custom-file-input::before {
        content: 'Select some files';
        display: inline-block;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
    }
    .custom-file-input:hover::before {
        border-color: black;
    }
    .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        width: 274px;
        background-color: transparent;
        font-size: 16px;
        padding: 16px 32px;
        border: 1px solid #FFC100;
        border-radius: 32px;
        @include Roboto-24-30-black();
        color: #FFC100;
    }

    .container-profile:hover .profile-photo {
        opacity: 0.8;
    }

    .container-profile:hover .middle {
        opacity: 1;
    }

    .text {

    }

    .custom-name {
        @include Montserrat-28-34-black();
        word-wrap: break-word;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .rating {
        display: flex;
        .rate {
            @include Roboto-24-30-black();
            font-size: 28px;
        }
        img {
            max-width: 24px;
            max-height: 24px;
            margin-left: 14px;
            margin-top: 1px;
        }
    }
}
