.stories-list {
    max-width: 1464px;
    margin: 52px auto 75px auto;
    .container-stories {
        margin-top: 52px;
    }
    .my-arrow {
        width: 10px;
        height: 10px;
        background-image: url("/public/images/storyArrow.svg");
    }
    .card {
        width: 175px!important ;
        height: 175px;
    }
    .slider {
        max-width: 1464px;

    }
    button.slick-prev:before, button.slick-next:before {
        //background-image: url("/public/images/storyArrow.svg");
        color: #FFD194;
    }
    /*button.slick-arrow {
        width: 50px!important;
        height: 50px;

    }
    button.slick-prev  {
        width: 50px!important;
        height: 50px;
        padding-right: 70px;
    }*/
}

.story {
    background: linear-gradient(90deg, #70E1F5 0%, #FFD194 100%);
    width: 175px;
    height: 175px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    position: relative;
    .img {
        max-width: 164px;
        max-height: 164px;
        border-radius: 10px;
    }
    .story-name {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        font-weight: 600;
        font-style: normal;
        text-align: left;
        position: absolute;
        bottom: 25px;
        left: 13px;
        right: 13px;
    }
}


