@import "../mixins/fonts";
.study-info {
    text-align: left;
    background-color: #FDFDFD;
    box-shadow: 0 4px 10px #CBC09F;
    border-radius: 10px;
    padding: 35px 40px 35px 40px;
    margin-bottom: 37px;
    .specialization {
        @include Roboto-24-30-black();
        margin-bottom: 32px;
    }
    .course {
        @include Roboto-18-24-black();
        margin-bottom: 16px;
    }
    .grade {
        @include Roboto-18-24-black();
        margin-bottom: 0;
    }
}
