@import "../mixins/fonts";
.subjects {
    text-align: left;
    background-color: #FDFDFD;
    box-shadow: 0 4px 10px #CBC09F;
    border-radius: 10px;
    padding: 13px 50px 35px 50px;
    max-width: 463px;
    .p-subjects {
        @include Montserrat-28-60-black();
    }
    .interest-checkbox {
        margin-bottom: 13px;
    }
    label {
        @include Roboto-18-24-black();
        font-weight: 400;
    }
    .show-more {
        @include Roboto-12-18-black();
        font-size: 14px;
        text-decoration: underline;
    }
    img {
        margin-right: 22px;
        margin-bottom: -2px;
    }

}
