.wrapper {
    margin-top: 40px;
    display: grid;
    max-width: 1040px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 61px;
    label {
        @include Roboto-18-24-black();
        font-weight: 400;
        margin-left: 16px;
    }
}
