<template>
    <transition name="rmodal">
        <div v-if="show" class="rmodal-shadow" @click.self="closeModal">
            <div class="rmodal">
                <div class="rmodal-close" @click="closeModal">
                    <img  src="../../assets/closeIcon.svg" />
                </div>
                <div class="rmodal-logo" >
                    <img src="../../assets/logo.svg" class="rm-logoImg"/>
                </div>
                <div class="rmodal-email-input">
                    <label class="label" for="sign-up-email">
                        E-mail
                    </label>
                    <input v-model="userData.email" type="email" id="sign-up-email">
                </div>
                <div class="password-input">
                    <label class="label" for="sign-up-password">
                        Password
                    </label>
                    <input v-model="userData.password" type="password" id="sign-up-password">
                </div>
                <div class="action-container">
                    <div class="button">
                        <button class="submit-button" @click="login">
                            Войти
                        </button>
                    </div>
                    <div class="action-subtitle">
                        <a href="#" class="link">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "ModalWindow",
        data: function () {
            return {
                show: false,
                userData: {
                    email: '',
                    password: '',
                }
            }
        },
        methods: {
            closeModal: function () {
                this.show = false
            },
            validated() {
                return this.userData.password && this.userData.email;
            },
            async login() {
                if (this.validated()) {
                    await this.$auth.login({ data: this.userData });
                    this.show = false;
                    this.userData = {
                        email: '',
                        password: '',
                    };
                }
            }
        }
    }
</script>

<style lang="scss">
    .rmodal-shadow {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);

        .rmodal {
            position: absolute;
            width: 372px;
            height: 526px;
            left: 50%;
            top: 40%;

            background: #FFFFFF;
            border-radius: 16px;
            min-width: 300px;
            max-width: 372px;
            max-height: 526px;


            transform: translate(-50%, -50%);
        }

        .rmodal-close {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            top: 16px;
            right: 16px;
            width: 17px;
            height: 17px;
            cursor: pointer;
        }
        .rm-logoImg {
            width: 305px;
            height: 80px;
        }


        .rmodal-logo {
            margin-top: 42px;
            margin-left: 32px;
        }

        .rmodal-email-input {
            display: flex;
            margin-left: 66px;
            margin-top: 48px;
            flex-wrap: wrap;
        }

        .label {
            width: 100%;
            height: 16px;
            display: flex;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;

            text-align: left;
            color: #333333;

            margin-bottom: 16px;
        }

        input {
            display: flex;

            width: 240px;
            height: 46px;

            border: 1px solid #BCBCBC;
            box-sizing: border-box;
            border-radius: 4px;
        }

        input:focus-visible {
            outline-color: #F5DF4D !important;
        }

        input[type="email"] {
            font-size: 18px;
        }

        input[type="password"] {
            color: #F5DF4D;
            font-size: 48px;
        }

        .password-input {
            display: flex;
            margin-left: 66px;
            margin-top: 25px;
            flex-wrap: wrap;
        }

        .action-container {
            margin-top: 47px;
        }

        .button {
            display: flex;
            width: 100%;
        }

        .submit-button {
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            width: 240px;
            height: 46px;

            background: #FFCC33;
            border-radius: 32px;
            border-color: transparent;

            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0;
            color: #4F4F4F;


            -webkit-appearance: none;
            background: linear-gradient(to right, #FFCC33 0%, #FFCC33 50%, #3F3D56 100%);
            background-size: 600%;
            box-shadow: 0 0.5rem 1rem rgba(203, 192, 159, 0.6);
            cursor: pointer;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            outline: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        button:hover {
            animation-name: gradient;
            color: #fff;
            -webkit-animation-name: gradient;
            animation-duration: 1.8s;
            -webkit-animation-duration: 1s;
            animation-iteration-count: 1;
            -webkit-animation-iteration-count: 1;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
        }

        button:active {
            font-size: 13px;
            color: #fff;
            background: #3F3D56;
            box-shadow: 0 0.1rem 0.6rem rgba(203, 192, 159, 0.6);
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 100%;
            }
        }


        .action-subtitle {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 16px;
        }

        .link {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0;
            color: #4F4F4F;
            text-decoration: none;
        }

        .link:active {
            color: #F5DF4D;
            font-size: 16px;
        }

        .link:hover {
            font-size: 16px;
        }
    }

    .rmodal-enter-active, .rmodal-leave-active {
        transition: opacity 0.5s
    }

    .rmodal-enter, .rmodal-leave-to {
        opacity: 0
    }

</style>
