<template>
    <transition name="rmodal">
        <div v-if="show" class="rmodal-shadow" @click.self="closeModal">
            <div class="rmodal">
                <div class="rmodal-close" @click="closeModal">
                    <img  src="../../assets/closeIcon.svg" />
                </div>
                <div class="rmodal-logo" >
                    <img src="../../assets/logo.svg" class="rm-logoImg"/>
                </div>
                <div>
                    <p>
                        Для завершения регистрации перейдите <br> на почту example@mail.ru подтвердите <br> свой E-mail!
                    </p>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "RConfirmEmailWindow",
        data: function () {
            return {
                show: false
            }
        },
        methods: {
            closeModal: function () {
                this.show = false
            }
        }
    }
</script>

<style scoped>

</style>
