<template>
   <div>
        <template v-if="step < 4">
            <div v-if="show" class="rmodal-shadow" @click.self="closeModal">
                    <v-stepper v-model="step" class="regModal">

                        <div class="rmodal-close" @click="closeModal">
                            <img  src="../../assets/closeIcon.svg" />
                        </div>
                        <v-stepper-header class="rm-stepper">
                            <v-stepper-step
                                :complete="step > 1"
                                step="1"
                            >
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step
                                :complete="step > 2"
                                step="2"
                            >
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step step="3">
                            </v-stepper-step>
                        </v-stepper-header>

                        <v-stepper-items>
                            <v-stepper-content step="1">
                                    <section class="rmodel-content">
                                        <div class="rmodel-title">
                                            Укажите свои данные
                                        </div>
                                        <div class="rm-inputs">
                                            <div class="rmodal-name-input">
                                                <label class="rm-label" for="sign-up-name">
                                                    Имя<span class="yellowColor">*</span>
                                                </label>
                                                <input v-model="userData.first_name" class="rmodal-input" type="text" id="sign-up-name">
                                            </div>
                                            <div class="rmodal-name-input">
                                                <label class="label" for="sign-up-lname">
                                                    Фамилия<span class="yellowColor">*</span>
                                                </label>
                                                <input v-model="userData.second_name" class="rmodal-input" type="text" id="sign-up-lname">
                                            </div>
                                        </div>
                                        <div class="rm-inputs">
                                            <div class="rmodal-name-input">
                                                <label class="rm-label" for="sign-up-email">
                                                    E-mail<span class="yellowColor">*</span>
                                                </label>
                                                <input v-model="userData.email" class="rmodal-input" type="email" id="sign-up-email">
                                            </div>
                                            <div class="rmodal-name-input">
                                                <label class="label" for="sign-up-phone">
                                                    Номер телефона
                                                </label>
                                                <input v-model="userData.phone_number" class="rmodal-input" type="text" id="sign-up-phone">
                                            </div>
                                        </div>
                                        <div class="rmodel-title">
                                            Введите пароль
                                        </div>
                                        <div class="rm-inputs">
                                            <div class="rmodal-name-input">
                                                <label class="rm-label" for="sign-up-password">
                                                    Пароль<span class="yellowColor">*</span>
                                                </label>
                                                <input v-model="userData.password" class="rmodal-input" type="password" id="sign-up-password">
                                            </div>
                                        </div>
                                        <div class="rm-agreement">
                                            <div class="rm-check">
                                                <img src="../../assets/unchangingCheck.svg" />
                                            </div>
                                            <div class="rm-agr">
                                                <p>
                                                    Я согласен на <a> обработку персональных данных </a>
                                                </p>
                                            </div>
                                        </div>
                                    </section>

                                <div class="rm-action-container-1step">
                                    <div class="next-button-1step">
                                        <button  @click="step = 2" class="nxt-btn">
                                            Далее
                                        </button>
                                    </div>
                                </div>
                            </v-stepper-content>

                            <v-stepper-content step="2">
                                <section class="rmodel-content">
                                    <div class="rmodel-title">
                                        Укажите сферы интересов
                                    </div>
                                    <p class="rmodel-text">
                                        Этот пункт можно заполнить позднее в личном кабинете<br>
                                        Чтобы пропустить, нажмите Далее
                                    </p>


                                    <v-select
                                        v-model="userData.interests"
                                        :items="interests"
                                        item-text="name"
                                        item-value="id"
                                        chips
                                        label="Chips"
                                        multiple
                                        solo
                                    ></v-select>
                                </section>

                                <div class="rm-action-container">
                                    <div class="previous-button">
                                        <button @click="step = 1" class="prev-btn">
                                            Назад
                                        </button>
                                    </div>
                                    <div class="next-button">
                                        <button  @click="step = 3" class="nxt-btn">
                                            Далее
                                        </button>
                                    </div>
                                </div>
                            </v-stepper-content>

                            <v-stepper-content step="3">
                                <section class="rmodel-content">
                                    <div class="rmodel-title">
                                        Возможно Вы хотите
                                    </div>
                                    <p class="rmodel-text">
                                       Этот пункт можно заполнить позднее в личном кабинете
                                    </p>
                                    <div class="rm-add-actions">
                                        <button class="rm-card" @click="ShowConfWindow">
                                            Стать репетитором
                                        </button>
                                        <button class="rm-card" @click="ShowConfWindow">
                                            Зарегестрировать организацию
                                        </button>
                                    </div>
                                </section>

                                <div class="rm-action-container">
                                    <div class="previous-button">
                                        <button @click="step = 2" class="prev-btn">
                                            Назад
                                        </button>
                                    </div>
                                    <div class="next-button">
                                        <button @click="ShowConfWindow" class="nxt-btn">
                                            Завершить
                                        </button>
                                        <r-confirm-email-window ref="lastmodal"></r-confirm-email-window>
                                    </div>
                                </div>
                            </v-stepper-content>
                        </v-stepper-items>
            </v-stepper>
            </div>
        </template>
        <template v-else>
            <div v-if="show" class="rmodal-shadow" @click.self="closeModal">
                <div class="regModalConf">
                    <div class="rmodal-close" @click="closeModal">
                        <img  src="../../assets/closeIcon.svg" />
                    </div>
                    <div class="rmodal-logo-conf" >
                        <img src="../../assets/logo.svg" class="rm-logoImg"/>
                    </div>
                    <div class="conf-email-message">
                        <p class="p-conf">
                            Перейдите на почту <span class="rm-email-underline">example@mail.ru</span> <br> и подтвердите свой E-mail!
                        </p>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>


<script>
    import RConfirmEmailWindow from "./RConfirmEmailWindow";
    export default {

        data: function () {
            return {
                show: false,
                step: 1,
                userData: {
                    first_name: '',
                    second_name: '',
                    phone_number: '',
                    email: '',
                    password: '',
                    interests: [],
                },
                interests: [],
            }
        },
        name: "RPersonalDataWindow",
        components: {RConfirmEmailWindow},
        methods: {
            closeModal() {
                this.show = false
            },
            validated() {
                return this.userData.first_name && this.userData.second_name
                    && this.userData.phone_number && this.userData.email
                    && this.userData.password;
            },
            async ShowConfWindow() {
                if (this.validated()) {
                    await this.$auth.register({ data: this.userData });
                    this.step = 4;
                    setTimeout(() => {
                        this.show = false;
                        this.userData = {
                            first_name: '',
                            second_name: '',
                            phone_number: '',
                            email: '',
                            password: '',
                            interests: [],
                        };
                        this.step = 1;
                    }, 2000)
                }
            },
        },
        async mounted() {
            console.log(this.$auth.user());
            const interests = await window.axios.get(`/api/interests`);
            this.interests = interests.data;
        }
    }
</script>

<style lang="scss">
    .rmodal-shadow {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);

        .regModalConf {
            position: absolute;
            width: 720px;
            height: 300px;
            left: 50%;
            top: 45%;

            background: #FFFFFF;
            border-radius: 16px;
            min-width: 300px;
            max-height: 813px;
            transform: translate(-50%, -50%);
        }

        .regModal {
            position: absolute;
            width: 720px;
            height: auto;
            left: 50%;
            top: 45%;

            background: #FFFFFF;
            border-radius: 16px;
            min-width: 300px;
            max-height: 813px;
            transform: translate(-50%, -50%);
        }

        .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
            background: #FDFDFD;
            box-shadow: 0px 0px 5px #CBC09F;
            border-radius: 32px;
            width: 650px;
            height: 80px;
            margin-top: 24px;
            margin-left: 10px;
        }

        .theme--light.v-chip:not(.v-chip--active) {
            background: #FEECB2;
        }


        .v-application {
            box-shadow: 0px 4px 10px #CBC09F;
            border-radius: 10px;
        }

        .v-sheet.v-stepper {
            border-radius: 16px;
        }

        .rm-stepper {
            margin-top: 50px;
            margin-left: 148px;
            width: 423px;
            height: 40px;
            align-content: center;
            box-shadow: none;
        }

        .v-stepper__step__step.primary {
            border: transparent !important;
            background-color:#FFCC33 !important;
            width: 40px !important;
            height: 40px !important;
            color: #333333 !important;
            font-family: Roboto !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-size: 26px !important;
            line-height: 14px !important;
        }

        .v-stepper__step__step {
            border: 1px solid #FFCC33 !important;
            background-color:#FFFFFF !important;
            box-sizing: border-box !important;
            width: 40px !important;
            height: 40px !important;
            color: #FFCC33 !important;
            font-family: Roboto !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-size: 26px !important;
            line-height: 14px !important;
        }

        .theme--light.v-stepper .v-stepper__header .v-divider {
            width: 92.5px !important;
            height: 1px !important;
            background:#FFCC33 !important;
            border-color: transparent;
        }


        .rmodal-close {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            top: 16px;
            right: 16px;
            width: 17px;
            height: 17px;
            cursor: pointer;
        }

        .rmodel-title {
            margin-top: 32px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            color: #333333;
        }

        .rmodel-content {
            //margin-left: 32px;
            margin-top: 32px;
            margin-bottom: 40px;
        }

        .rmodel-text {
            margin-top: 16px;

            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
        }

        .rm-label {
            width: 100px;
            height: 16px;
            display: flex;
            margin-bottom: 16px;

            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;

            text-align: left;
            color: #333333;
        }

        .rm-inputs {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .rmodal-name-input {
            margin-right: 30px;
        }

        .rmodal-input {
            display: flex;

            width: 316px;
            height: 44px;

            border: 1px solid #BCBCBC;
            box-sizing: border-box;
            border-radius: 4px;
        }

        .rm-agreement {
            margin-top: 32px;
            display: flex;
            flex-direction: row;
        }

        .rm-check {
            margin-right: 16px;
        }

        p {
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            color: #333333;
        }

        a {
            font-family: Roboto;
            font-size: 16px;
            text-decoration: underline;
            color: #333333 !important;
        }

        .rm-action-container {
            margin-bottom: 40px;
            margin-left: 280px;
            display: flex;
            flex-direction: row;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
        }

        .rm-action-container-1step {
            margin-bottom: 40px;
            margin-left: 480px;
            display: flex;
            flex-direction: row;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
        }
        .previous-button {
            margin-right: 16px;
        }

        .prev-btn {
            width: 180px;
            height: 46px;
            color: #FFCC33;

            border: 1px solid #FFCC33;
            box-sizing: border-box;
            border-radius: 10px;
        }

        .rm-add-actions {
            display: flex;
            flex-direction: column;
        }

        .rm-card {
            margin-top: 32px;
            width: 654px;
            height: 64px;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #333333;

            background: #FDFDFD;
            border: 1px solid #A6A08E;
            box-sizing: border-box;
            border-radius: 10px;
        }

        .rm-card:hover {
            color: #FFCC33;
            background: #FDFDFD;
            border: 1px solid #FFCC33;
        }

        .rm-card:active {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            filter: drop-shadow(0px 0px 5px #CBC09F);
        }

        .nxt-btn {
            width: 180px;
            height: 46px;

            background: #FFCC33;
            border-radius: 10px;
        }

        .nxt-btn:hover {
            animation-name: gradient;
            -webkit-animation-name: gradient;
            animation-duration: 1.8s;
            -webkit-animation-duration: 1s;
            animation-iteration-count: 1;
            -webkit-animation-iteration-count: 1;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
        }

        .nxt-btn:active {
            font-size: 13px;
            background: #3F3D56;
            box-shadow: 0 0.1rem 0.6rem rgba(203, 192, 159, 0.6);
        }

        .prev-btn:hover {
            color: #3F3D56;

            border: 1px solid #3F3D56;
            box-sizing: border-box;
            border-radius: 10px;
        }

        .prev-btn:active {
            color: #FFFFFF;
            font-size: 13px;
            background: #3F3D56;
            box-shadow: 0 0.1rem 0.6rem rgba(203, 192, 159, 0.6);
        }

        .rmodal-logo-conf {
            display: flex;
            align-content: center;
            margin-top: 32px;
            margin-left: 209px;
        }

        .conf-email-message {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 40px;

            color: #333333;

        }

        .p-conf {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 32px;
        }

        .rm-email-underline {
            text-decoration: underline;
            font-weight: bold;
        }
    }
</style>
