<template>
    <div class="advertisement">
        <div class="container-carousel">
            <v-carousel
                class="advertisement-slide"
                :show-arrows="false"
                :hide-delimiter-background="true"
                :hide-delimiters="false"
            >
                <v-carousel-item
                    class="height"
                    v-for="(slide, i) in slides"
                    :key="i"
                >
                    <v-sheet>
                        <div class="offer">
                            <p>{{slide.offerOne}}</p>
                            <p>{{slide.offerTwo}}</p>
                            <p>{{slide.offerThree}}</p>
                        </div>
                        <img :src="slide.url">
<!--                        <p class="name"> {{ slide.name}}<br> Решит твои вопросы</p>
                        <button class="btn-dark">
                            Записаться на консультацию
                        </button>-->
                    </v-sheet>
                </v-carousel-item>
            </v-carousel>

            <v-carousel
                class="advertisement-slide"
                :show-arrows="false"
                :hide-delimiter-background="true"
                :hide-delimiters="false"
            >
                <v-carousel-item
                    class="height"
                    v-for="(slide, i) in slides"
                    :key="i"
                >
                    <v-sheet>
                        <div class="offer">
                            <p>{{slide.offerOne}}</p>
                            <p>{{slide.offerTwo}}</p>
                            <p>{{slide.offerThree}}</p>
                        </div>
                        <img :src="slide.url">
                        <!--                        <p class="name"> {{ slide.name}}<br> Решит твои вопросы</p>
                                                <button class="btn-dark">
                                                    Записаться на консультацию
                                                </button>-->
                    </v-sheet>
                </v-carousel-item>
            </v-carousel>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            slides: [
                {
                    url: '',
                    offerOne: '',
                    offerTwo: '',
                    offerThree: '',
                    name: ''
                },
                {
                    //url: `${process.env.VUE_APP_APP_URL}/images/Phismat.png`,
                    url: '',
                    offerOne: '',
                    offerTwo: '',
                    offerThree: '',
                    name: ''
                }
            ]
        }
    },
    mounted() {
        console.log(process.env)
    }

}
</script>

<style scoped>

</style>
