<template>
    <div class="btn-top">
            <div id="pagetop" @click="toTop">
                <img src="../../../public/images/toTop.svg">
            </div>
    </div>
</template>

<script>
export default {
    methods: {
        toTop() {
            this.$emit('toTop')
        }
    }
}
</script>

<style scoped>

</style>
