<template>
    <div class="button-show-more">
        <div class="container">
            <button @click="showMore">Показать еще 4 из {{itemsLeft}}</button>
        </div>
    </div>
</template>

<script>
export default {
    props:['itemsLeft'],
    methods: {
        showMore() {
            this.$emit('click');
        }
    }
}
</script>

<style scoped>

</style>
