<template>
    <div class="custom-btn">
        <button
            @click="$emit('click')"
            :class="myClass"
        >{{ text }}</button>
    </div>
</template>

<script>
export default {
    props:['myClass', 'text'],
}
</script>

<style scoped>

</style>
