<template>
    <div style="display: inline-block;">
        <input
            type="checkbox"
            class="custom-checkbox"
            :id="id"
            :value="valueComputed"
            @click="($event) => valueComputed = $event"
        >
        <label :for="id">{{ text }}</label>
    </div>
</template>

<script>
export default {
    props:['id', 'value', 'text'],
    computed: {
        valueComputed:  {
            get: function () {
                return this.value
            },
            set: function (val) {
                console.log(val)
                this.$emit('input', val);
            }
        }
    }

}
</script>

<style scoped>

</style>
