<template>
    <div class="custom-footer">
        <img src="../../../public/images/logoFooter.svg" alt="">
        <p>&#169;2020 ООО «MangoEdu». Все права защищены.</p>
        <p>Сообщить о проблеме</p>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>
