<template>
    <div class="input">
        <label>
            <input type="text" placeholder="Поиск" :value="valueComputed"
                   @click="($event) => valueComputed = $event">
        </label>
        <button type="button" @click="$emit('click')"></button>
    </div>
</template>

<script>
export default {
    prop: ['value'],
    computed: {
        valueComputed:  {
            get: function () {
                return this.value
            },
            set: function (val) {
                console.log(val)
                this.$emit('input', val);
            }
        }
    }

}
</script>

<style scoped>

</style>
