<template>
    <div class="navbar">
        <div class="container">
            <nav>
                <router-link to="/">
                    <img class="logo" src="../assets/logo.svg" alt="Главная">
                </router-link>

                <router-link to="/account">
                    <div class="round">
                        <img src="../assets/user.svg" class="round_img">
                    </div>
                </router-link>
                <div class="round" @click="showNotifications">
                    <img src="../assets/notification.svg" class="round_img">
                    <div><span class="number">4</span></div>
                </div>
                <the-modal-notification ref="modalNotif"/>
            </nav>
        </div>
    </div>
</template>

<script>
import TheModalNotification from "@/components/TheModalNotification";
export default {
    data() {
        return {

        }
    },
    methods: {
        showNotifications() {
            if (this.$refs.modalNotif.show) {
                this.$refs.modalNotif.show = false
            }
            else {
                this.$refs.modalNotif.show = true
            }
        }
    },
    components: {
        TheModalNotification
    }

}
</script>

<style scoped>

</style>
