<template>
    <div class="wrapper">
        <div
            v-for="item in allTmp.filter(function (e) {
                          return e.is_chosen === true
                    })"
            :key="item.id"
            class="my-checkbox"
        >
            <input
                v-model="item.is_chosen"
                type="checkbox"
                class="custom-checkbox"
                :id="'all-chosen-interests' + item.id"
                name="all"
            >
            <label :for="'all-chosen-interests' + item.id">{{item.name}}</label>
        </div>
        <div
            v-for="item in allTmp.filter(function (e) {
                          return e.is_chosen === false
                    })"
            :key="item.id"
            class="my-checkbox"
        >
            <input
                v-model="item.is_chosen"
                type="checkbox"
                class="custom-checkbox"
                :id="'all-interests' + item.id"
                name="all"
            >
            <label :for="'all-interests' + item.id">{{item.name}}</label>
        </div>
    </div>
</template>

<script>
export default {
    props: []

}
</script>

<style scoped>

</style>
