<template>
    <div class="event-card">
        <img :src="url" alt="">
        <div class="top-left-text">{{ topLeft }}</div>
        <div class="top-right-text">{{ topRight }}</div>
        <div class="center-top-text">{{ topCenter }}</div>
        <div class="center-bottom-text">{{ bottomCenter }}</div>
        <button class="button-left">Записаться</button>
    </div>
</template>

<script>
export default {
    props: ['url', 'topLeft', 'topRight', 'topCenter', 'bottomCenter']
}
</script>

<style scoped>

</style>
