<template>
    <div class="free-slot">
        <div class="div-flex">
            <img class="clock" :src="clockUrl" alt="">
            <div class="div-block">
                <div class="p-container">
                    <p class="p-date">{{ item.day }}</p>
                </div>
                <p class="p-date">{{ item.time }}</p>
            </div>
            <div class="price">{{ item.price }} р</div>
            <button class="btn-write" @click="$emit('click', item)">Записаться</button>
        </div>
    </div>
</template>

<script>
export default {
    props:['item'],
    data() {
        return {
            clockUrl: `${process.env.VUE_APP_APP_URL}/images/clock.svg`,
        }
    }

}
</script>

<style scoped>

</style>
