<template>
    <div v-if="show" class="modal-shadow-su-class" @click.self="closeModal">
        <div class="modal-su-class">
            <div class="section-tutor-modal">{{ info.subject.name }}</div>
            <div class="grid-wrapper">
                <div class="box-1">
                    <img class="tutor-img" :src="info.user.file_path" alt="" style="width: 120px; height: 120px; object-fit: cover; border-radius: 50%">
                </div>
                <div class="box-2">
                    <div class="name">{{info.user.second_name}} {{info.user.first_name}}</div>
                </div>
                <div class="box-3">
                    <div class="flex-div">
                        <div class="rating">{{info.rating}}</div>
                        <img class="star" src="../assets/Star.svg" alt="">
                    </div>
                </div>
            </div>
            <ul class="tabsList">
                <li>
                    <p @click="currentPage = 'freeClasses'">
                        <router-link
                            to="#freeClasses"
                            :class="currentPage === 'freeClasses' ? 'current-page' : 'not-current-page'"
                        >Свободные слоты</router-link>
                    </p>
                </li>

                <li >
                    <p @click="currentPage = 'info'">
                        <router-link
                            to="#info"
                            :class="currentPage === 'info' ? 'current-page' : 'not-current-page'"
                        >О репетиторе</router-link>
                    </p>
                </li>
            </ul>
            <section class="free-classes" v-if="currentPage === 'freeClasses'">
                <div
                    v-for="(item, i) in info.slots"
                    :key="i"
                >
                    <the-free-slot
                        :item="item"
                        @click="signUp"
                    />
                </div>
            </section>
            <section class="free-classes" v-if="currentPage === 'info'">
                <div class="container">
                    <p class="title">Образование</p>
                    <p class="p-info">{{ info.user.specialty }}</p>
                    <p class="p-info">{{ info.user.degree }}, {{ info.user.course }} курс</p>
                    <div class="space-50"></div>
                    <p class="title">{{ info.subject.name }}</p>
                    <p class="p-info">{{ info.description}}</p>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import TheFreeSlot from "@/components/TheFreeSlot";
export default {
    props: ['info'],
    data: function () {
        return {
            show: false,
            currentPage: 'freeClasses',
        }
    },
    methods: {
        closeModal: function () {
            this.show = false
        },
        signUp: function (data) {
            data.tutor = {
                first_name: this.info.user.first_name,
                second_name: this.info.user.second_name,
            };
            return this.$emit('click', data)
        }
    },
    components: {
        TheFreeSlot
    }
}
</script>

<style scoped>

</style>
