<template>
    <div v-if="show" class="modal-shadow">
        <div class="modal">
            <div class="wrapper">
                <div
                    v-for="item in allTmp.filter((e) => e.is_chosen)"
                    :key="item.id"
                    class="my-checkbox"
                >
                    <input
                        v-if="isChanged"
                        v-model="item.is_chosen"
                        type="checkbox"
                        class="custom-checkbox"
                        :id="idPref + item.id"
                        name="all"
                    >
                    <img  :src="arrow" alt="" v-else>
                    <label :for="idPref + item.id">{{item.name}}</label>
                </div>
                <div
                    v-show="isChanged"
                    v-for="item in allTmp.filter((e) => !e.is_chosen)"
                    :key="item.id"
                    class="my-checkbox"
                >
                    <input
                        v-model="item.is_chosen"
                        type="checkbox"
                        class="custom-checkbox"
                        :id="idPref + item.id"
                        name="all"
                    >
                    <label :for="idPref + item.id">{{item.name}}</label>
                </div>

            </div>
            <div class="btn-block" >
                <div class="btn-1">
                    <app-btn-modal
                        v-if="isChanged"
                        myClass="btn-blank"
                        text="Отменить изменения"
                        @click="cancelChanges"
                    />
                    <app-btn-modal
                        v-if="!isChanged"
                        myClass="btn-blank"
                        text="Закрыть"
                        @click="close"
                    />
                </div>

                <app-btn-modal
                    v-if="isChanged"
                    myClass="btn-yellow"
                    text="Сохранить изменения"
                    @click="saveChanges"
                />
            </div>
        </div>
    </div>
</template>

<script>
import AppBtnModal from "@/components/AppBtnModal";

export default {
    name: "ModalWindow",
    props: ['all', 'idPref', 'isChanged', 'allTmp'],
    data: function () {
        return {
            show: false,

            arrow: `${process.env.VUE_APP_APP_URL}/images/checkMark.svg`,
        }
    },
    methods: {
        closeModal: function () {
            this.show = false
        },
        cancelChanges() {
            this.show = false
        },
        saveChanges() {
            for (let i = 0; i < this.allTmp.length; i++) {
                if (this.allTmp[i].is_chosen !== this.all[i].is_chosen) {
                    this.all[i].is_chosen = this.allTmp[i].is_chosen;
                }
            }
            this.show = false
        },
        inputFind() {

        },
        close() {
            this.show = false
        }
    },
    created() {
        console.log('create')
        console.log(this.all)

    },
    updated() {
      console.log('updated')
    },
    mounted() {
        console.log('Update')
    },
    components: {
        AppBtnModal,
    }
}
</script>

<style scoped>

</style>
