<template>
    <div class="container">
        <div class="modal-container">
            <div v-if="show" class="modal-notification-class">
                <div class="notification-container">
                    <div
                        v-for="item in notifications"
                        :key="item.id"
                    >
                        <the-notification
                            :item="item"
                        />
                    </div>
                </div>

            </div>
        </div>

    </div>

</template>

<script>
import TheNotification from "@/components/TheNotification";
export default {
    props: ['info'],
    data: function () {
        return {
            show: false,
            notifications: [
                {
                    id: 1,
                    title: 'Оцените занятие!',
                    descrip: 'В случае вознмкновения недопонимания обратитесь в поддержку.',
                },
                {
                    id: 2,
                    title: 'Оплата прошла успешно!',
                    descrip: 'Ваше занятие запланированно 25 декабря в 18:20. Контакты для связи с...\n',
                },
                {
                    id: 3,
                    title: 'Оплата не прошшла :(',
                    descrip: 'Повторите попытку позднее',
                },
                {
                    id: 4,
                    title: 'Оплата не прошшла :(',
                    descrip: 'Повторите попытку позднее',
                },
            ]
        }
    },
    methods: {
        closeModal: function () {
            this.show = false
        },
        deleteAll(){
            this.notifications =[]
        }
    },
    components: {
        TheNotification
    }


}
</script>

<style scoped>

</style>
