<template>
    <div class="notification">
        <p class="title">{{item.title}}</p>
        <p class="descrip">{{item.descrip}}</p>
    </div>
</template>

<script>
export default {
    props: ['item'],
}
</script>

<style scoped>

</style>
