<template>
    <div class="organization-card">
        <div class="section-tutor-card">{{card.section}}</div>
        <img :src="card.url" alt="">
        <div class="rating">{{card.rating}}</div>
        <img class="star" src="../assets/Star.svg" alt="">
        <div class="more">Подробнее</div>
        <img class="arrow" src="../assets/Arrow.svg" alt="">
        <div class="name">{{card.name}}</div>
        <div class="subject">{{card.subject}}</div>
        <div class="description">{{card.description}}</div>
        <button class="btn" @click="$emit('signUp', card.id)">Записаться</button>
    </div>
</template>

<script>
export default {
    props: ['card'],
}
</script>

<style scoped>

</style>
