<template>
    <div class="tutor-card">
        <div class="section-tutor-card">{{ card.subject.name }}</div>
        <img :src="card.user.file_path" alt="#" style="width: 86px; height: 86px; object-fit: cover; border-radius: 50%">
        <div class="rating">{{ card.rating }}</div>
        <img class="star" src="../assets/Star.svg" alt="">
        <div class="more">Подробнее</div>
        <img class="arrow" src="../assets/Arrow.svg" alt="">
        <div class="name">{{ card.user.second_name }} {{ card.user.first_name }}</div>
        <div class="subject">{{ card.subject.name }}</div>
        <div class="description">{{ card.description }}</div>
        <button class="btn" @click="$emit('signUp', card.id)">Записаться</button>
    </div>
</template>

<script>
export default {
    props: ['card'],
}
</script>

<style scoped>

</style>
