@import "pages";
@import "components";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "mixins";
#app {

}

#nav {
  display: flex;
  justify-content: center;
  background-color: #de7fab;
  a {
    color: #5d4037;
    margin: auto;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
  }
}
