<template>
    <div class="story">
        <img :src="url" alt="Last chance" style="width: 164px; height: 164px; object-fit: cover;">
        <div class="story-name">{{title}}</div>
    </div>
</template>

<script>
export default {
    props:['url', 'alt', 'title']
}
</script>

<style scoped>

</style>
