<template>
    <div class="stories-list">
        <h2>Успей зарегистрироваться!</h2>

        <div class="container-stories">

            <VueSlickCarousel class="slider" v-bind="settings">
                <div
                    v-for="(story, id) in stories"
                    :key="id"
                >

                        <the-story
                            :url="story.file_path"
                            :alt="`#`"
                            :title="story.title"
                        >
                        </the-story>
                </div>
            </VueSlickCarousel>
        </div>
    </div>
</template>

<script>
import TheStory from "@/components/Stories/TheStory";
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
    props: ['stories'],
    data() {
        return {
            window: {
                width: 0,
                height: 0
            },
            settings: {
                "centerPadding":"50",//расстояние между слайдами
                "centerMode": true, //делает так, что влазят еще половинки слайда
                "infinite": true,
                "speed": 500,
                "slidesToShow": 6,
                "slidesToScroll": 2,
                "touchThreshold": 3,
            },
            arrowLeft: `${process.env.VUE_APP_APP_URL}/images/storyArrow.svg`,
            arrowRight: `${process.env.VUE_APP_APP_URL}/images/storyArrowRight.svg`,
        }
    },
    methods: {
        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            /*if (this.window.width > 1920) {
                this.settings.slidesToShow = 6;
            }*/
            /*if (this.window.width < 800) {
                this.settings.slidesToShow = 3;
                console.log("hello")
            }*/
        }
    },
    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
    },
    destroyed() {
        window.removeEventListener('resize', this.handleResize);
    },
    components: {
        TheStory, VueSlickCarousel
    }
}
</script>

<style scoped>

</style>
